{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: Full node entity.
 *   - id: The node ID.
 *   - bundle: The type of the node, for example, "page" or "article".
 *   - authorid: The user ID of the node author.
 *   - createdtime: Time the node was published formatted in Unix timestamp.
 *   - changedtime: Time the node was changed formatted in Unix timestamp.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}

<article {{ attributes.addClass(node.bundle, view_mode) }}>
    
    <header>
        <div class="titles">
            {% if content.field_page_title[0] %}
                <h1>{{ content.field_page_title[0] }}</h1>
            {% endif %}
            {% if content.field_sub_title[0] %}
                <h2>{{ content.field_sub_title[0] }}</h2>
            {% endif %}
<span class="line_home">
    <svg id="Laag" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 289.044 624.541">
        <defs>
            <style>
                .cls-1 {
                    fill: #231f20;
                }
            </style>
        </defs>
        <g id="Laag-2" data-name="Laag"><path class="cls-1" d="M576.614-42.1c-5,31.119-7.37,62.618-9.019,94.126-1.72,31.511-2.9,63.085-5.838,94.552-.645,7.873-1.617,15.716-2.524,23.565l-.341,2.943-.427,2.932-.856,5.865-.855,5.865-.428,2.933-.527,2.916-2.124,11.665-.531,2.916-.649,2.892-1.3,5.785-1.3,5.784-.656,2.891-.787,2.859L545.3,239.821c-1.01,3.82-2.276,7.583-3.648,11.3a83.265,83.265,0,0,1-4.9,10.857,49.988,49.988,0,0,1-6.879,9.769,33.632,33.632,0,0,1-20.856,10.942,58.363,58.363,0,0,1-11.922.366c-7.932-.511-15.708-2.023-23.509-3.068a97.389,97.389,0,0,0-11.732-.974,42.356,42.356,0,0,0-11.6,1.261,28.521,28.521,0,0,0-10.387,5.092,28.121,28.121,0,0,0-7.447,8.861,41.579,41.579,0,0,0-3.978,10.971,71.067,71.067,0,0,0-1.514,11.661c-.479,7.857-.037,15.738.078,23.642.177,15.767-1.024,31.77-5.892,46.885A96.385,96.385,0,0,1,411.1,408.86a182.3,182.3,0,0,1-13.95,19.154c-4.991,6.122-10.2,12.052-15.239,18.125q-3.818,4.522-7.541,9.123c-2.512,3.043-4.962,6.135-7.423,9.219q-14.723,18.537-28.479,37.818a922.419,922.419,0,0,0-50.9,79.814,922.418,922.418,0,0,1,50.694-79.959q13.678-19.331,28.388-37.906c2.454-3.091,4.9-6.192,7.4-9.242q3.722-4.606,7.52-9.147c5.024-6.091,10.22-12.035,15.187-18.161a181.7,181.7,0,0,0,13.859-19.133,95.833,95.833,0,0,0,9.891-21.366c4.8-15.032,5.955-30.962,5.737-46.685-.134-7.872-.6-15.783-.139-23.7a71.917,71.917,0,0,1,1.5-11.8,42.463,42.463,0,0,1,4.036-11.211,29,29,0,0,1,7.655-9.153,29.45,29.45,0,0,1,10.7-5.285,43.331,43.331,0,0,1,11.854-1.324,98.686,98.686,0,0,1,11.852.951c7.841,1.031,15.6,2.517,23.442,3a57.211,57.211,0,0,0,11.7-.388,32.511,32.511,0,0,0,20.163-10.64,48.892,48.892,0,0,0,6.69-9.558,82.018,82.018,0,0,0,4.8-10.714c1.349-3.685,2.594-7.416,3.59-11.23l3.108-11.4.777-2.85.646-2.883,1.283-5.769L551.2,210.8l.639-2.885.522-2.909,2.087-11.635.518-2.91.419-2.926.838-5.852.837-5.852.419-2.926.333-2.938c.883-7.835,1.834-15.661,2.456-23.525,2.852-31.418,3.947-62.974,5.585-94.508,1.567-31.529,3.858-63.1,8.793-94.358Z" transform="translate(-287.57 42.428)"/></g>
    </svg>
</span>
        </div>
        
        {{ content.body }}
    </header>

  {# We hide the comments and links now so that we can render them later. #}
  <div{{ content_attributes }}>
    {{ content|without('comment', 'links', 'field_tags', 'field_page_title', 'field_sub_title', 'body') }}
  </div>

  {% if content.field_tags|length and not is_front %}
    {{ content.field_tags }}
  {% endif %}

  {{ content.links }}
  {{ content.comment }}
</article>
