{#
/**
 * @file
 * Zurb Foundations's theme implementation to display a single page.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - linked_logo: The logo image, linked to <front>.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - linked_site_name: The name of the site that also links to <front>.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.meta_header
 * - page.header
 * - page.help
 * - page.highlighted
 * - page.content
 * - page.sidebar_first
 * - page.sidebar_second
 * - page.footer_first
 * - page.footer_middle
 * - page.footer_last
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="off-canvas-wrapper">
  <div class="inner-wrap off-canvas-wrapper-inner" id="inner-wrap" data-off-canvas-wrapper>
    <aside id="offCanvasLeftOverlap" class="off-canvas left-off-canvas-menu position-left" role="complementary" data-off-canvas data-transition="overlap">
      {{ page.left_off_canvas }}
    </aside>

    <aside id="offCanvasRightOverlap" class="off-canvas right-off-canvas-menu position-right" role="complementary" data-off-canvas data-transition="overlap">
      {{ page.right_off_canvas }}
    </aside>

    <div class="off-canvas-content" data-off-canvas-content>
      {% if page.meta_header %}
        {% if meta_header_grid %}
          <div class="row">
            <div class="large-12 columns">
        {% endif %}
        {{ page.meta_header }}
        {% if meta_header_grid %}
            </div>
          </div>
        {% endif %}
      {% endif %}

      <div id="header-wrapper">
          <header id="header" role="banner" aria-label="{{ 'Site header'|t }}">
              {% if linked_site_name or linked_logo %}
                  <div class="large-2 columns">
                      {% if linked_logo %}
                          {{ linked_logo }}
                      {% endif %}
                  </div>
                  <div class="left large-4 columns">
                      {% if is_front %}
                          <h1 id="site-name">{{ linked_site_name }}</h1>
                      {% else %}
                          <div id="site-name">{{ linked_site_name }}</div>
                      {% endif %}
                  </div>
              {% endif %}
              {% if page.header %}
                  {{ page.header }}
              {% endif %}
          </header>
      </div>

      {% if messages and not zurb_foundation_messages_modal %}
          {{ messages }}
      {% endif %}

      {% if page.help %}
          {{ page.help }}
      {% endif %}

        {% if page.sidebar_first %}
            <aside id="left-aside">
                {{ page.sidebar_first }}
            </aside>
        {% endif %}
      <div id="main-wrapper">

        <main id="main" role="main">
          {% if page.highlighted %}
            {% spaceless %}
              {{ page.highlighted }}
            {% endspaceless %}
          {% endif %}
          <a id="main-content"></a>
          {% if breadcrumb %} {{ breadcrumb }} {% endif %}
          <section>
            {{ page.content }}
          </section>
        </main>
      </div>
        {% if page.sidebar_second %}
            <aside id="right-aside">
                {{ page.sidebar_first }}
            </aside>
        {% endif %}
      {% if page.footer_first or page.footer_middle or page.footer_last %}
        <div id="footer-wrapper">
            <footer id="footer">
                {% if page.footer_first %}
                    {{ page.footer_first }}
                {% endif %}
                {% if page.footer_middle %}
                    {{ page.footer_middle }}
                {% endif %}
                {% if page.footer_last %}
                    {{ page.footer_last }}
                {% endif %}
            </footer>
        </div>
      {% endif %}
    </div>
  </div>
</div>
