{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
    <div{{ attributes }}>
        <span class="linescroll"></span>
        <span class="squarescroll"></span>
        {{ content }}
        <span class="line_offcanvas">
<svg width="499px" height="923px" viewbox="0 0 499 923" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <polygon id="path-1" points="0 0 501 0 501 979 0 979"></polygon>
    </defs>
    <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="0.0-Menu-optie-4" transform="translate(-751.000000, 0.000000)">
            <g id="Group-3" transform="translate(751.000000, -55.000000)">
                <mask id="mask-2" fill="white">
                    <use xlink:href="#path-1"></use>
                </mask>
                <g id="Clip-2"></g>
                <path d="M499.239131,0 C503.034243,27.4166327 500.578491,55.5247668 492.994461,82.0359359 C485.415076,108.575013 472.801864,133.60085 456.292895,155.660673 C439.743668,177.687936 419.221263,196.773994 395.775492,211.259861 C384.057252,218.497369 371.611267,224.567386 358.649667,229.237346 C345.695808,233.953819 332.195367,237.042318 318.612862,239.064107 C291.382817,243.065822 263.90503,243.065822 236.650212,244.562008 C209.381458,246.062845 182.196317,249.118785 155.268209,253.70657 C141.846736,256.002789 128.318424,258.565685 116.110892,264.437245 C113.080686,265.914825 110.1759,267.626523 107.407373,269.530478 C104.697685,271.511955 102.102578,273.656229 99.8078588,276.102841 C95.1642274,280.961956 91.5735033,286.783901 89.2633006,293.095789 C86.9205815,299.403026 85.7856093,306.131985 85.4248336,312.893503 C85.0609612,319.662774 85.4465111,326.477008 86.1510301,333.255582 C87.5724551,346.825133 90.2031753,360.283052 91.9652468,373.900667 C93.7056409,387.47797 94.7260321,401.42273 92.158796,415.076005 C90.8984039,421.880937 88.6005883,428.504465 85.3520592,434.620996 C82.1221108,440.754582 77.9383521,446.325354 73.3163982,451.423238 C64.0632,461.656218 53.2972215,470.228664 43.1645359,479.370126 C38.0997414,483.947058 33.180496,488.682137 28.7087362,493.81103 C26.412469,496.327413 24.4537515,499.110473 22.3990336,501.819112 C21.3244486,503.141647 20.5254777,504.654888 19.5809578,506.065798 C18.6983736,507.520122 17.6934664,508.901574 16.9099794,510.411714 C15.3399086,513.427342 13.601063,516.362346 12.3205417,519.523717 C11.6454423,521.085021 10.9068587,522.619968 10.2828562,524.20453 L8.53781695,529.004727 C8.25446098,529.807861 7.93704035,530.598591 7.68310386,531.411028 L6.96929456,533.863842 L5.54012756,538.771021 L4.41599404,543.757273 L3.85392728,546.250399 C3.68515241,547.086092 3.56902291,547.931088 3.42347395,548.771433 C1.09004527,562.204544 0.541914052,575.957048 1.71869294,589.559159 C2.81495539,603.173673 5.4379336,616.645545 9.33678788,629.74686 C13.1396418,642.879184 17.9892095,655.693665 23.3946505,668.258523 C34.145145,693.431653 47.0680353,717.618695 58.3728546,742.574761 L62.6123554,751.934837 L66.6660491,761.372435 C69.4314795,767.639359 71.8810376,774.039623 74.4962739,780.368566 C79.4464872,793.141185 84.2836678,805.960317 88.5851043,818.967054 C106.137691,870.873067 118.182642,924.616365 124.755571,979 C118.04019,924.63342 105.854335,870.938186 88.1747801,819.106595 C83.8423757,806.118463 78.9742272,793.317936 73.9945944,780.568574 C71.3638743,774.250484 68.8988322,767.862624 66.1194662,761.608103 L62.0440951,752.18601 L57.7844652,742.84609 C46.4223553,717.942739 33.4375293,693.791357 22.5987763,668.601173 C17.1515288,656.028562 12.2555092,643.193925 8.40155834,630.02129 C7.37807038,626.745186 6.57445427,623.408614 5.69032171,620.093749 C4.8851572,616.760279 4.13418646,613.408203 3.46063538,610.043723 C2.8799879,606.659088 2.17701736,603.294608 1.78372546,599.882064 L1.10398081,594.777978 L0.639462828,589.647534 C-0.577574289,575.966351 -0.0666045071,562.119269 2.25134023,548.565223 C2.3968892,547.717126 2.5114703,546.864377 2.68024517,546.020932 L3.23921514,543.504549 L4.36180027,538.468683 L5.78941888,533.510339 L6.50477657,531.029617 C6.76026146,530.209428 7.07768208,529.407845 7.36258645,528.596959 L9.11381925,523.740945 C9.73937013,522.137778 10.4825989,520.582675 11.1607952,519.001215 C12.4490584,515.802633 14.1987428,512.825767 15.7812007,509.768276 C16.5724297,508.237981 17.5835305,506.834822 18.4738566,505.360343 C19.4276669,503.929276 20.2328314,502.394329 21.3182551,501.051638 C23.3900053,498.301138 25.3719487,495.474665 27.688345,492.922622 C32.200363,487.720857 37.1474796,482.934613 42.220016,478.323571 C52.3728307,469.120091 63.0815186,460.539893 72.1891679,450.410794 C76.7398957,445.364074 80.8292024,439.884779 83.9677956,433.882981 C87.1234211,427.898239 89.3453654,421.443709 90.5639509,414.776768 C93.0460254,401.405675 92.0194406,387.626813 90.2480787,374.127032 C88.4612329,360.583839 85.7933512,347.129022 84.3223776,333.447838 C83.5930844,326.613448 83.1812118,319.709288 83.5342454,312.795825 C83.8826339,305.894766 85.0253482,298.962697 87.4377449,292.416691 C89.816077,285.864484 93.544608,279.783613 98.3523691,274.727591 C100.736895,272.170896 103.429551,269.935146 106.235239,267.873045 C109.099767,265.890018 112.095908,264.116301 115.211275,262.586006 C127.751712,256.519089 141.454993,253.915881 154.902788,251.571599 C181.899025,246.896988 209.161586,243.761975 236.51705,242.182065 C263.853933,240.613008 291.265139,240.530834 318.230408,236.493458 C331.689043,234.451514 344.975806,231.372317 357.733018,226.688404 C370.497972,222.052554 382.755053,216.033701 394.296777,208.864414 C417.384869,194.514986 437.59295,175.622735 453.868111,153.841993 C470.104563,132.027142 482.476226,107.305193 489.871352,81.1459768 C497.272672,55.0131179 499.604552,27.3732201 495.810988,0.483740848 L499.239131,0 Z" id="Fill-1" fill="#231F20" mask="url(#mask-2)"></path>
            </g>
        </g>
    </g>
</svg>
</span>
    </div>
{% endif %}
