{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: Full node entity.
 *   - id: The node ID.
 *   - bundle: The type of the node, for example, "page" or "article".
 *   - authorid: The user ID of the node author.
 *   - createdtime: Time the node was published formatted in Unix timestamp.
 *   - changedtime: Time the node was changed formatted in Unix timestamp.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
<article {{ attributes.addClass(node.bundle, view_mode) }}>
{#
  <span class="ctaline">
<svg id="Laag_1" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 257 1374">
    <defs>
        <style>
            .cls-1 {
                fill: #fff;
            }
            .cls-1,
            .cls-3 {
                fill-rule: evenodd;
            }
            .cls-2 {
                mask: url("#mask");
            }
            .cls-3 {
                fill: #231f20;
            }
        </style>
        <mask id="mask" x="0" y="0" width="257" height="1374" maskunits="userSpaceOnUse">
            <g id="mask-2"><polygon id="path-1" class="cls-1" points="257 1374 0 1374 0 0 257 0 257 1374"/></g>
        </mask>
    </defs>
    <title>Lijn</title>
    <g id="Work">
        <g id="Lijn">
            <g class="cls-2"><path id="Fill-1" class="cls-3" d="M197.3,1374a67.3,67.3,0,0,0,.3-25.3,93.1,93.1,0,0,0-7.8-24.1,146.2,146.2,0,0,0-12.9-21.9,228.6,228.6,0,0,0-15.7-19.9c-11.1-12.8-22.8-25.1-32.9-38.7a150.7,150.7,0,0,1-13.4-21.7,99.7,99.7,0,0,1-4.9-11.7,112.7,112.7,0,0,1-3.4-12.3c-1.6-8.4-2.5-16.8-3.8-25.2-.6-4.2-1.4-8.3-2.4-12.4-.6-2.1-1.2-4.1-1.9-6.1a58.9,58.9,0,0,0-2.4-5.8,37,37,0,0,0-3.1-5.5,31.1,31.1,0,0,0-3.9-4.9,39.7,39.7,0,0,0-9.9-7.8c-7.2-4.2-15.3-6.8-23.1-10.2a75.6,75.6,0,0,1-11.2-6.1,59,59,0,0,1-9.6-8.4,63.3,63.3,0,0,1-12.8-22,89.7,89.7,0,0,1-4.6-25.1,103.4,103.4,0,0,1,2.1-25.4,102.4,102.4,0,0,1,7.9-24.2A200.8,200.8,0,0,1,40,986.9c9-14.5,19.4-27.9,29.4-41.6,5-6.8,9.9-13.7,14.5-20.8a240.1,240.1,0,0,0,12.6-22c1-1.9,2-3.8,2.8-5.7l2.8-5.7,2.5-5.8c.9-2,1.7-3.9,2.5-5.9,3.2-7.8,6.2-15.8,8.9-23.8,5.5-16,10.3-32.3,15-48.6,2.3-8.1,4.6-16.3,6.6-24.5a192.1,192.1,0,0,0,4.3-25,96.6,96.6,0,0,0-.7-25.2,67.8,67.8,0,0,0-8.8-23.4c-4.4-7.2-9.7-13.8-14.1-21.2a61.9,61.9,0,0,1-8.7-24,78,78,0,0,1,1.1-25.5,127.2,127.2,0,0,1,7.7-24.3A231,231,0,0,1,129.6,591c4.1-7.5,8.5-14.7,12.8-22l51.8-87.5,25.9-43.8,13-21.9,6.4-10.9c2.1-3.7,4.1-7.4,6-11.2l2.7-5.8c.8-1.9,1.7-3.8,2.4-5.8s1.4-4,2.1-6,1.1-4,1.6-6.1a65.8,65.8,0,0,0,1.6-12.5,52.4,52.4,0,0,0-1.1-12.5,64,64,0,0,0-3.7-12l-1.4-2.9c-.2-.4-.4-.9-.7-1.4l-.8-1.3-1.5-2.8L245,322l-.9-1.3-1-1.3-1.9-2.5-2-2.4a24.1,24.1,0,0,0-2.1-2.4l-2.2-2.3c-.7-.8-1.5-1.4-2.2-2.2a24.1,24.1,0,0,0-2.4-2.1l-2.4-2.1a22.3,22.3,0,0,0-2.4-1.9l-2.5-2-2.6-1.8-1.3-.9-1.3-.8-2.7-1.7-2.7-1.6-5.6-3a198,198,0,0,0-23.3-9.8c-15.9-5.7-32.3-10.2-48.1-16.2a80.5,80.5,0,0,1-11.6-5.2,40.7,40.7,0,0,1-10.2-7.8,31.6,31.6,0,0,1-6.4-11.1A52.8,52.8,0,0,1,105,227c-.5-8.5.4-17,.1-25.4-.1-1.1-.1-2.1-.2-3.2l-.3-3.1c-.3-2.1-.6-4.2-1-6.3a105.2,105.2,0,0,0-3.4-12.2c-1.5-3.9-3.1-7.9-4.9-11.7s-3.7-7.6-5.7-11.3c-4.1-7.5-8.4-14.7-12.7-22.1L51.3,87.8,0,0,51.6,87.7l25.8,43.8c4.2,7.3,8.6,14.6,12.7,22,2,3.7,4,7.5,5.8,11.3s3.4,7.8,4.9,11.8a86.1,86.1,0,0,1,3.4,12.3c.5,2.1.8,4.2,1.1,6.3l.3,3.2c.1,1,.1,2.1.2,3.2.3,8.5-.5,17,0,25.4a43.7,43.7,0,0,0,2.2,12.4,29.9,29.9,0,0,0,6.2,10.8,44,44,0,0,0,10,7.6,74.4,74.4,0,0,0,11.5,5.1c15.8,6,32.1,10.4,48.1,16.1a199.4,199.4,0,0,1,23.4,9.8,116.8,116.8,0,0,1,21.4,13.8l2.4,2.1,2.4,2.2,2.3,2.2,2.2,2.3,2.1,2.4,2.1,2.4,1.9,2.6,1,1.2.8,1.4,1.8,2.7,1.6,2.7.8,1.4a10.1,10.1,0,0,0,.7,1.5l1.3,2.9a57.8,57.8,0,0,1,3.9,12.2,54.9,54.9,0,0,1,1.1,12.8,69,69,0,0,1-1.6,12.7c-.5,2.1-1.1,4.1-1.7,6.2s-1.3,4-2.1,6-1.6,3.9-2.4,5.9-1.7,3.9-2.7,5.8c-1.9,3.8-3.9,7.5-6,11.2l-6.4,11-13,21.9-25.9,43.8-51.7,87.5c-4.4,7.3-8.7,14.6-12.8,22a218,218,0,0,0-11.1,22.8,127.3,127.3,0,0,0-7.6,24.1,75.5,75.5,0,0,0-1.1,25.1,60.5,60.5,0,0,0,8.5,23.5c4.3,7.2,9.7,13.8,14.1,21.1a68.5,68.5,0,0,1,8.9,23.9,99.2,99.2,0,0,1,.8,25.5,179.5,179.5,0,0,1-4.4,25.2c-2,8.3-4.3,16.4-6.7,24.6-4.6,16.3-9.4,32.6-14.9,48.6-2.8,8.1-5.8,16-9,23.9-.9,1.9-1.6,3.9-2.5,5.8l-2.6,5.9-2.7,5.7L97.6,903a253.1,253.1,0,0,1-12.7,22.1c-4.7,7.1-9.6,14.1-14.6,20.9-10,13.7-20.4,27.1-29.3,41.4a192.2,192.2,0,0,0-12.1,22.3,107.9,107.9,0,0,0-10,49.2,84.1,84.1,0,0,0,4.5,24.8,63.7,63.7,0,0,0,12.5,21.7,57.7,57.7,0,0,0,9.5,8.3,62.3,62.3,0,0,0,11.1,6c7.6,3.4,15.8,6.1,23.1,10.4a42.6,42.6,0,0,1,10.1,7.8,49.9,49.9,0,0,1,4,5.1,48.8,48.8,0,0,1,3.1,5.5,62.5,62.5,0,0,1,2.4,6c.7,2,1.3,4,1.9,6.1,1,4.1,1.8,8.3,2.4,12.5,1.3,8.4,2.1,16.8,3.8,25.1a85.7,85.7,0,0,0,3.3,12.3,99.1,99.1,0,0,0,4.8,11.7,145.8,145.8,0,0,0,13.3,21.6c10,13.6,21.6,26,32.7,38.8a215.7,215.7,0,0,1,15.7,20,133.3,133.3,0,0,1,12.8,21.9,93.8,93.8,0,0,1,7.8,24.2,67.3,67.3,0,0,1-.4,25.3"/></g>
        </g>
    </g>
</svg>
  </span>
#}
  <h2>{{ node.label }}</h2>

  {# We hide the comments and links now so that we can render them later. #}
  <div{{ content_attributes }}>
    {{ content|without('comment', 'links', 'field_tags', 'field_link') }}
  </div>

  {% if content.field_link[0] %}
    <a class="button" href="{{ content.field_link[0]['#url'] }}" title="{{ content.field_link[0]['#title'] }}">{{ content.field_link[0]['#title'] }}.</a>
  {% endif %}
</article>
