{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
    <svg width="200" height="41" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414" viewBox="0 0 2492 516" xmlns="http://www.w3.org/2000/svg">
      <g fill-rule="nonzero">
        <path d="M268.059 490.638v-14.23h2.062c2.396 8.217 6.68 12.326 12.854 12.326 2.68 0 4.684-.809 6-2.434 1.33-1.62 1.988-3.4 1.988-5.341 0-2.259-.704-4.109-2.117-5.554-1.446-1.446-4.25-3.188-8.412-5.238-4.371-2.15-7.509-4.267-9.413-6.346-1.904-2.046-2.858-4.566-2.858-7.566 0-2.855 1.02-5.58 3.066-8.167 2.05-2.6 4.921-3.892 8.625-3.892 3.771 0 6.892 1.534 9.363 4.6.53-.529 1.217-1.812 2.062-3.858h1.959v13.383h-1.959c-.704-3.212-2.07-5.97-4.1-8.283-2.029-2.304-4.416-3.463-7.166-3.463-2.117 0-3.825.65-5.134 1.959-1.304 1.304-1.954 2.82-1.954 4.55 0 1.904.725 3.541 2.167 4.916 1.412 1.413 4.112 3.017 8.096 4.817 5.991 2.713 9.662 5.358 11 7.933 1.341 2.609 2.012 5.117 2.012 7.513 0 3.77-1.241 6.837-3.733 9.204-2.483 2.363-5.613 3.542-9.388 3.542-3.983 0-7.525-1.638-10.633-4.917-.95 1.058-1.73 2.575-2.325 4.546zM308.888 422.084c0-1.517.533-2.817 1.612-3.913 1.075-1.096 2.371-1.637 3.888-1.637s2.804.541 3.862 1.637 1.588 2.396 1.588 3.913c0 1.55-.53 2.875-1.588 3.966-1.058 1.096-2.346 1.642-3.862 1.642s-2.813-.546-3.888-1.642c-1.079-1.091-1.612-2.416-1.612-3.966zm10.208 22.112V474.4c0 4.617.067 7.53.213 8.73.141 1.2.65 2.112 1.533 2.75.883.633 2.45.95 4.708.95h1.109v2.433h-23.325v-2.433h1.795c2.505 0 4.134-.363 4.892-1.08.763-.725 1.2-1.587 1.325-2.595.125-1.005.183-3.925.183-8.755v-13.116c0-5.08-.237-8.184-.712-9.313-.48-1.125-1.113-1.833-1.904-2.116-.796-.28-2.18-.421-4.154-.421h-1.425V447c6.275-.637 11.141-1.57 14.595-2.804zM343.892 461.284c0 4.546.937 7.879 2.804 9.996s4.246 3.175 7.142 3.175c2.679 0 4.979-1.05 6.9-3.15 1.925-2.096 2.883-5.738 2.883-10.921 0-5.221-1.02-8.821-3.067-10.792-2.045-1.975-4.354-2.962-6.929-2.962-3.241 0-5.675 1.216-7.3 3.65s-2.433 6.1-2.433 11.004zm23.804-11.534c3-3.387 6.03-5.079 9.096-5.079 1.696 0 3.008.463 3.942 1.375.933.917 1.404 1.921 1.404 3.017 0 2.325-1.059 3.492-3.175 3.492-1.163 0-2.171-.725-3.017-2.171-.775-1.338-1.587-2.009-2.433-2.009-1.338 0-2.817.917-4.442 2.75 1.833 2.892 2.75 5.963 2.75 9.205 0 4.233-1.517 7.97-4.55 11.212-3.029 3.283-8.146 5.042-15.337 5.292-7.475.25-11.217 1.762-11.217 4.55 0 1.304.846 2.22 2.542 2.75 1.654.566 5.145.987 10.47 1.27 5.821.28 10.3.817 13.438 1.613 3.137.792 5.642 2.392 7.512 4.788 1.867 2.395 2.8 5.25 2.8 8.566 0 4.659-1.904 8.413-5.712 11.267-3.808 2.858-9.292 4.287-16.45 4.287-6.558 0-11.813-1.27-15.763-3.808-3.95-2.542-5.925-5.75-5.925-9.63 0-2.15.567-3.912 1.692-5.287 1.13-1.375 2.738-2.062 4.817-2.062.562 0 1.07.087 1.533.262-2.187 2.396-3.28 4.938-3.28 7.617 0 3.104 1.455 5.667 4.363 7.7 2.913 2.025 7.259 3.038 13.038 3.038 5.15 0 9.162-1.03 12.033-3.096 2.88-2.059 4.313-4.696 4.313-7.904 0-3.53-1.284-6.017-3.863-7.459-2.575-1.412-7.154-2.258-13.75-2.541-7.583-.317-12.5-1.255-14.758-2.805-2.258-1.516-3.388-3.475-3.388-5.87 0-4.617 3.23-7.525 9.68-8.73-3.346-1.97-5.871-4.229-7.563-6.77-1.692-2.538-2.537-5.38-2.537-8.513 0-4.408 1.737-8.158 5.208-11.242 3.475-3.087 7.592-4.629 12.354-4.629 5.888 0 10.613 1.85 14.175 5.554zM398.104 444.196h1.425c.813 2.184 1.271 5.167 1.38 8.938 2.537-2.996 5.2-5.234 7.987-6.717 2.783-1.48 5.696-2.22 8.73-2.22 3.454 0 6.287.724 8.491 2.166 2.2 1.446 3.62 3.22 4.254 5.32.638 2.097.954 5.155.954 9.176V474.4c0 5.009.088 8.059.263 9.15.175 1.096.733 1.913 1.667 2.459.933.55 2.654.82 5.158.82v2.434h-22.167v-2.433h1.009c2.537 0 4.195-.371 4.97-1.109.78-.741 1.217-1.604 1.325-2.591.105-.992.159-3.9.159-8.73v-13.966c0-3.421-.167-5.863-.504-7.325-.334-1.463-1.234-2.763-2.696-3.888-1.463-1.129-3.325-1.691-5.584-1.691-2.575 0-5.033.766-7.383 2.295-2.342 1.542-4.554 3.838-6.633 6.909V474.4c0 5.009.095 8.059.287 9.15.196 1.096.763 1.913 1.692 2.459.937.55 2.675.82 5.212.82v2.434h-21.9v-2.433c2.434 0 4.125-.246 5.08-.738.954-.496 1.541-1.246 1.77-2.246.23-1.012.346-4.158.346-9.446v-12.908c0-5.042-.1-8.1-.292-9.175-.191-1.08-.758-1.887-1.691-2.433-.934-.55-2.671-.821-5.213-.821v-2.433c3.88-.425 7.846-1.234 11.904-2.434zM474.955 462.817l-5.767 2.325c-9.1 3.704-13.65 8.358-13.65 13.967 0 2.22.583 4.012 1.746 5.37 1.166 1.355 2.683 2.034 4.55 2.034 1.658 0 3.579-.546 5.766-1.638 2.184-1.095 4.638-2.737 7.355-4.92zm15.337 18.513h1.958c-.316 6.029-3.279 9.045-8.887 9.045-2.396 0-4.292-.633-5.683-1.904-1.396-1.27-2.305-3.158-2.725-5.658-3.53 2.5-6.75 4.387-9.655 5.658-2.912 1.271-5.512 1.904-7.804 1.904-2.925 0-5.45-.845-7.562-2.537-2.117-1.696-3.175-3.933-3.175-6.721 0-3.633 1.77-6.808 5.316-9.52 3.542-2.713 8.438-5.36 14.68-7.934l8.2-3.333v-2.117c0-3-.196-5.167-.584-6.504-.387-1.342-1.391-2.542-3.016-3.6-1.621-1.059-3.755-1.584-6.4-1.584-5.288 0-8.234 1.759-8.834 5.288-.566 3.596-2.046 5.396-4.441 5.396-2.155 0-3.23-1.021-3.23-3.067 0-2.012 1.43-4.17 4.284-6.48 2.858-2.312 7.3-3.466 13.333-3.466 4.48 0 7.95.704 10.42 2.117 2.468 1.412 4.097 3.012 4.893 4.812.791 1.8 1.191 4.55 1.191 8.25v17.513c0 4.087.209 6.717.634 7.879.425 1.167 1.337 1.746 2.75 1.746 2.329 0 3.77-1.73 4.337-5.183zM523.875 448.375H510.81v26.184c0 4.02.175 6.725.529 8.12.354 1.392 1.104 2.513 2.25 3.359 1.142.846 2.367 1.27 3.675 1.27 2.537 0 4.742-1.445 6.612-4.337l1.692 1.004c-1.096 2.325-2.704 4.08-4.842 5.263-2.133 1.183-4.291 1.77-6.479 1.77-2.537 0-4.766-.745-6.687-2.25-1.925-1.495-3.125-3.25-3.6-5.258-.48-2.012-.713-5.541-.713-10.583v-24.542h-6.296v-2.433c2.892-.07 5.484-1.287 7.775-3.65s3.755-5.675 4.392-9.946h1.692v13.596h13.066zM574.646 445.942v28.404c0 4.725.071 7.688.213 8.888s.658 2.1 1.562 2.7c.896.596 2.513.896 4.838.896v2.433c-5.359.07-9.271.637-11.742 1.696h-.637c-1.125-1.942-1.73-5.292-1.796-10.054-2.154 3.35-4.613 5.875-7.38 7.566-2.77 1.692-5.829 2.538-9.179 2.538-2.891 0-5.445-.663-7.67-1.98-2.221-1.329-3.746-2.937-4.575-4.841-.825-1.904-1.242-4.78-1.242-8.625v-14.758c0-5.009-.092-8.063-.267-9.18-.175-1.104-.733-1.929-1.666-2.458s-2.655-.792-5.155-.792v-2.433h14.7v30.046c0 2.962.18 5.112.53 6.454.358 1.338 1.258 2.508 2.7 3.517 1.445 1.004 3.12 1.508 5.025 1.508 2.716 0 5.308-.892 7.779-2.67 2.466-1.784 4.15-3.672 5.054-5.663.892-1.992 1.346-4.838 1.346-8.542v-9.787c0-4.725-.054-7.6-.159-8.621-.108-1.021-.554-1.913-1.35-2.675-.791-.754-2.441-1.134-4.945-1.134h-1.113v-2.433zM603.888 455.25c1.2-3.137 3.146-5.766 5.846-7.879 2.696-2.116 5.329-3.175 7.908-3.175 2.325 0 4.163.725 5.5 2.167 1.338 1.446 2.009 2.929 2.009 4.446 0 1.02-.346 1.904-1.03 2.646-.691.737-1.525 1.108-2.512 1.108-1.763 0-3.104-1.304-4.021-3.913-.633-1.762-1.588-2.645-2.858-2.645-1.517 0-3.33 1.033-5.446 3.091-2.117 2.067-3.475 4.209-4.075 6.43-.596 2.22-.9 5.274-.9 9.15v7.724c0 4.617.062 7.53.183 8.73.13 1.2.63 2.112 1.513 2.75.883.633 2.45.95 4.708.95h1.48v2.433h-23.01v-2.433h1.11c2.116 0 3.62-.292 4.524-.871.896-.584 1.438-1.404 1.613-2.459.175-1.058.262-4.091.262-9.1v-12.22c0-4.655-.058-7.571-.183-8.755-.125-1.179-.625-2.095-1.509-2.75s-2.45-.979-4.708-.979h-1.108v-2.379c3.312-.387 7.65-1.43 13.012-3.12 1.021 2.787 1.584 6.47 1.692 11.053zM660.163 458.48c.104-.813.158-1.534.158-2.171 0-3.104-.908-5.509-2.729-7.221-1.812-1.708-4.041-2.563-6.687-2.563-6.417 0-10.246 3.984-11.48 11.955zm9.254 2.112h-30.204c-.142 2.083-.208 3.638-.208 4.658 0 7.617 1.191 13.338 3.566 17.163 2.384 3.829 5.938 5.742 10.663 5.742 6.417 0 10.962-2.875 13.646-8.625h2.537c-1.125 3.6-3.366 6.408-6.716 8.441-3.35 2.025-7 3.038-10.95 3.038-3.667 0-7.134-.921-10.392-2.78-3.263-1.845-5.938-4.466-8.017-7.85-2.079-3.387-3.12-7.495-3.12-12.324 0-6.842 2.012-12.53 6.029-17.063 4.02-4.53 9.045-6.796 15.079-6.796 5.675 0 10.066 1.73 13.17 5.184s4.742 7.195 4.917 11.212zM708.7 490.638v-14.23h2.063c2.396 8.217 6.683 12.326 12.854 12.326 2.684 0 4.684-.809 6.004-2.434 1.325-1.62 1.984-3.4 1.984-5.341 0-2.259-.704-4.109-2.117-5.554-1.442-1.446-4.246-3.188-8.408-5.238-4.375-2.15-7.513-4.267-9.417-6.346-1.904-2.046-2.854-4.566-2.854-7.566 0-2.855 1.02-5.58 3.067-8.167 2.045-2.6 4.92-3.892 8.62-3.892 3.771 0 6.892 1.534 9.363 4.6.53-.529 1.217-1.812 2.062-3.858h1.959v13.383h-1.959c-.704-3.212-2.07-5.97-4.1-8.283-2.025-2.304-4.416-3.463-7.166-3.463-2.117 0-3.825.65-5.13 1.959-1.308 1.304-1.958 2.82-1.958 4.55 0 1.904.725 3.541 2.171 4.916 1.408 1.413 4.108 3.017 8.092 4.817 5.991 2.713 9.662 5.358 11.004 7.933 1.337 2.609 2.008 5.117 2.008 7.513 0 3.77-1.241 6.837-3.729 9.204-2.483 2.363-5.617 3.542-9.387 3.542-3.984 0-7.53-1.638-10.634-4.917-.954 1.058-1.729 2.575-2.329 4.546zM757.992 481.117c1.904 2.33 3.925 4.083 6.059 5.267 2.133 1.179 4.379 1.77 6.741 1.77 3.988 0 7.463-1.708 10.421-5.133 2.963-3.42 4.446-8.87 4.446-16.346 0-6.487-1.43-11.333-4.283-14.545-2.859-3.209-6.259-4.813-10.213-4.813-2.433 0-4.742.617-6.93 1.85-2.182 1.233-4.266 3.104-6.24 5.608zm-2.325-36.92h1.425c.6 1.974.9 4.353.9 7.14 2.259-2.395 4.684-4.187 7.271-5.366a19.606 19.606 0 0 1 8.23-1.775c5.991 0 10.987 2.109 14.97 6.325 3.983 4.209 5.975 9.771 5.975 16.684 0 6.77-2 12.433-6.004 16.983-4 4.546-9.267 6.82-15.788 6.82-2.683 0-5.245-.537-7.7-1.612-2.45-1.075-4.766-2.67-6.954-4.787v16.45c0 5.012.1 8.058.292 9.154.192 1.092.75 1.912 1.667 2.458s2.629.821 5.129.821v2.433h-22.638v-2.433h1.588c2.5 0 4.133-.362 4.891-1.083.759-.725 1.2-1.588 1.321-2.596.125-1 .188-3.92.188-8.754v-39.354c0-4.617-.063-7.53-.188-8.73-.12-1.2-.625-2.112-1.504-2.75-.883-.633-2.45-.95-4.708-.95h-1.588v-2.433c3.492-.354 7.896-1.233 13.225-2.646zM832.938 462.817l-5.767 2.325c-9.1 3.704-13.65 8.358-13.65 13.967 0 2.22.584 4.012 1.746 5.37 1.167 1.355 2.684 2.034 4.55 2.034 1.659 0 3.58-.546 5.767-1.638 2.183-1.095 4.637-2.737 7.354-4.92zm15.338 18.513h1.958c-.317 6.029-3.28 9.045-8.887 9.045-2.396 0-4.292-.633-5.684-1.904-1.396-1.27-2.304-3.158-2.725-5.658-3.529 2.5-6.75 4.387-9.654 5.658-2.913 1.271-5.513 1.904-7.804 1.904-2.925 0-5.45-.845-7.563-2.537-2.116-1.696-3.175-3.933-3.175-6.721 0-3.633 1.771-6.808 5.317-9.52 3.542-2.713 8.437-5.36 14.68-7.934l8.2-3.333v-2.117c0-3-.197-5.167-.584-6.504-.388-1.342-1.392-2.542-3.017-3.6-1.62-1.059-3.754-1.584-6.4-1.584-5.287 0-8.233 1.759-8.833 5.288-.567 3.596-2.046 5.396-4.442 5.396-2.154 0-3.229-1.021-3.229-3.067 0-2.012 1.43-4.17 4.283-6.48 2.859-2.312 7.3-3.466 13.334-3.466 4.479 0 7.95.704 10.42 2.117 2.467 1.412 4.096 3.012 4.892 4.812.792 1.8 1.192 4.55 1.192 8.25v17.513c0 4.087.208 6.717.633 7.879.425 1.167 1.338 1.746 2.75 1.746 2.33 0 3.771-1.73 4.338-5.183zM894.605 478.684h2.33c-2.397 8.216-8.397 12.325-17.988 12.325-6.171 0-11.363-2.1-15.58-6.292-4.212-4.196-6.316-9.75-6.316-16.662 0-7.092 2.275-12.842 6.82-17.246 4.55-4.409 9.93-6.613 16.134-6.613 3.742 0 7.179.821 10.317 2.459 3.137 1.641 4.708 3.641 4.708 6.004 0 .883-.288 1.708-.875 2.487-.58.775-1.417 1.163-2.513 1.163-2.325 0-3.754-1.359-4.283-4.071-.425-2.05-1.075-3.475-1.958-4.288-.913-.808-2.696-1.216-5.342-1.216-4.725 0-8.275 1.641-10.658 4.92-2.38 3.28-3.571 8.217-3.571 14.813 0 6.804 1.279 12.13 3.837 15.975 2.555 3.842 6.425 5.763 11.609 5.763 6.983 0 11.425-3.171 13.329-9.521zM935.33 458.48c.104-.813.158-1.534.158-2.171 0-3.104-.908-5.509-2.725-7.221-1.816-1.708-4.046-2.563-6.691-2.563-6.417 0-10.246 3.984-11.48 11.955zm9.254 2.112H914.38c-.142 2.083-.208 3.638-.208 4.658 0 7.617 1.191 13.338 3.566 17.163 2.384 3.829 5.938 5.742 10.663 5.742 6.416 0 10.962-2.875 13.646-8.625h2.537c-1.125 3.6-3.367 6.408-6.717 8.441-3.35 2.025-7 3.038-10.95 3.038-3.666 0-7.133-.921-10.391-2.78-3.263-1.845-5.938-4.466-8.017-7.85-2.08-3.387-3.12-7.495-3.12-12.324 0-6.842 2.012-12.53 6.028-17.063 4.021-4.53 9.046-6.796 15.08-6.796 5.675 0 10.066 1.73 13.17 5.184s4.742 7.195 4.917 11.212zM954.942 490.638v-14.23h2.063c2.396 8.217 6.68 12.326 12.854 12.326 2.68 0 4.683-.809 6-2.434 1.33-1.62 1.988-3.4 1.988-5.341 0-2.259-.705-4.109-2.117-5.554-1.446-1.446-4.246-3.188-8.413-5.238-4.37-2.15-7.508-4.267-9.412-6.346-1.904-2.046-2.858-4.566-2.858-7.566 0-2.855 1.02-5.58 3.066-8.167 2.05-2.6 4.921-3.892 8.625-3.892 3.771 0 6.892 1.534 9.363 4.6.529-.529 1.216-1.812 2.062-3.858h1.959v13.383h-1.959c-.704-3.212-2.07-5.97-4.1-8.283-2.029-2.304-4.416-3.463-7.166-3.463-2.117 0-3.825.65-5.134 1.959-1.304 1.304-1.954 2.82-1.954 4.55 0 1.904.725 3.541 2.167 4.916 1.412 1.413 4.112 3.017 8.096 4.817 5.991 2.713 9.662 5.358 11 7.933 1.341 2.609 2.012 5.117 2.012 7.513 0 3.77-1.242 6.837-3.733 9.204-2.484 2.363-5.613 3.542-9.388 3.542-3.983 0-7.525-1.638-10.633-4.917-.95 1.058-1.73 2.575-2.325 4.546zM381.25 92.075v44.396h-48.612v119.654c0 11.213 1.87 18.696 5.608 22.43 3.746 3.745 11.217 5.608 22.433 5.608 3.746 0 7.325-.146 10.755-.459 3.425-.312 6.7-.779 9.816-1.404v51.409c-5.608.929-11.846 1.558-18.7 1.87-6.854.309-13.55.463-20.096.463-10.279 0-20.02-.696-29.212-2.1-9.196-1.4-17.292-4.125-24.304-8.175s-12.542-9.817-16.588-17.296c-4.054-7.483-6.079-17.296-6.079-29.442V136.471h-40.192V92.075h40.192v-72.45h66.367v72.45zM976.422 92.075v33.65h1.4c8.416-14.02 19.32-24.23 32.72-30.617 13.396-6.379 27.109-9.583 41.134-9.583 17.754 0 32.312 2.42 43.696 7.25 11.366 4.83 20.329 11.53 26.879 20.096 6.537 8.57 11.13 19.012 13.783 31.317 2.642 12.312 3.971 25.937 3.971 40.895V333.71h-66.367V197.233c0-19.933-3.12-34.816-9.345-44.633-6.234-9.812-17.296-14.725-33.188-14.725-18.07 0-31.158 5.375-39.258 16.13-8.109 10.745-12.15 28.433-12.15 53.045V333.71h-66.371V92.075zM1242.826 0v125.725h1.4c8.413-14.02 19.163-24.23 32.25-30.617 13.088-6.379 25.858-9.583 38.325-9.583 17.758 0 32.32 2.42 43.7 7.25 11.37 4.83 20.33 11.53 26.875 20.096 6.542 8.57 11.133 19.012 13.788 31.317 2.641 12.312 3.97 25.937 3.97 40.895V333.71h-66.37V197.233c0-19.933-3.117-34.816-9.342-44.633-6.238-9.812-17.296-14.725-33.192-14.725-18.066 0-31.158 5.375-39.254 16.13-8.108 10.745-12.15 28.433-12.15 53.045V333.71h-66.37V0zM1603.168 333.709v-33.65h-1.4c-8.413 14.02-19.325 24.15-32.717 30.379-13.404 6.233-27.112 9.35-41.137 9.35-17.754 0-32.321-2.342-43.7-7.013-11.371-4.675-20.325-11.296-26.871-19.862-6.542-8.571-11.142-19.004-13.788-31.317-2.646-12.304-3.97-25.946-3.97-40.896V92.075h66.366V228.55c0 19.942 3.113 34.817 9.346 44.63 6.233 9.82 17.3 14.729 33.188 14.729 18.066 0 31.154-5.38 39.262-16.125 8.096-10.75 12.15-28.43 12.15-53.046V92.075h66.367V333.71zM1791.985 405.688c-12.784 8.412-30.542 12.616-53.284 12.616-6.858 0-13.633-.237-20.333-.704a976.187 976.187 0 0 1-20.33-1.629v-54.687c6.234.62 12.618 1.245 19.163 1.87 6.542.621 13.084.775 19.63.467 8.72-.937 15.191-4.367 19.395-10.283 4.209-5.921 6.313-12.459 6.313-19.63 0-5.295-.942-10.283-2.804-14.954l-84.596-226.679h70.575l54.683 165.45h.934l52.816-165.45h68.705l-100.959 271.546c-7.17 19.63-17.137 33.654-29.908 42.067zM1987.114 273.654c2.958 5.138 6.783 9.346 11.454 12.617 4.675 3.267 10.05 5.688 16.13 7.246 6.07 1.558 12.379 2.337 18.924 2.337 4.675 0 9.584-.541 14.725-1.641 5.134-1.084 9.813-2.804 14.017-5.138 4.208-2.341 7.713-5.454 10.513-9.35 2.804-3.896 4.208-8.796 4.208-14.716 0-9.975-6.62-17.446-19.854-22.438-13.254-4.983-31.721-9.97-55.388-14.962a321.596 321.596 0 0 1-28.279-7.709c-9.196-2.958-17.375-6.85-24.542-11.683-7.166-4.83-12.933-10.904-17.291-18.23-4.367-7.316-6.546-16.279-6.546-26.874 0-15.571 3.042-28.346 9.12-38.325 6.08-9.967 14.092-17.83 24.067-23.6 9.967-5.763 21.184-9.817 33.65-12.15 12.459-2.342 25.242-3.513 38.33-3.513 13.083 0 25.779 1.254 38.091 3.746 12.309 2.496 23.288 6.704 32.946 12.62 9.663 5.917 17.68 13.784 24.075 23.6 6.384 9.813 10.204 22.2 11.45 37.16h-63.096c-.941-12.776-5.775-21.426-14.487-25.943-8.73-4.512-19.013-6.775-30.85-6.775-3.738 0-7.796.234-12.15.696-4.371.471-8.342 1.488-11.921 3.042-3.588 1.562-6.625 3.82-9.113 6.775-2.495 2.967-3.741 6.937-3.741 11.92 0 5.922 2.175 10.747 6.546 14.492 4.358 3.734 10.041 6.775 17.054 9.109s15.029 4.441 24.07 6.312c9.038 1.867 18.23 3.896 27.58 6.071a283.704 283.704 0 0 1 28.279 7.95c9.183 3.117 17.367 7.242 24.533 12.383s12.925 11.534 17.296 19.163c4.363 7.638 6.542 17.058 6.542 28.28 0 15.89-3.2 29.203-9.583 39.962-6.392 10.746-14.717 19.396-25.005 25.933-10.283 6.546-22.045 11.146-35.287 13.796a206.446 206.446 0 0 1-40.425 3.97c-14.021 0-27.738-1.403-41.134-4.208-13.4-2.804-25.312-7.479-35.754-14.02-10.441-6.546-19.008-15.196-25.7-25.942-6.704-10.746-10.362-24.221-10.991-40.425h63.104c0 7.167 1.475 13.312 4.433 18.462zM2425.102 268.134h66.367v65.658h-66.367zM2225.943 171.063c1.709-5.921 4.68-11.53 8.884-16.834 4.204-5.287 9.812-9.729 16.825-13.316 7.008-3.58 15.808-5.371 26.408-5.371 16.196 0 28.275 4.362 36.217 13.079 7.95 8.733 13.47 21.504 16.596 38.33h-107.971c.312-4.672 1.329-9.963 3.041-15.888zm103.938 97.07c-3.087 4.155-7.425 8.171-13.033 12.059-9.659 6.704-21.192 10.05-34.588 10.05-18.696 0-33.025-4.825-42.992-14.488-9.979-9.654-15.425-25.241-16.366-46.741h174.333c1.246-18.688-.312-36.605-4.666-53.746-4.371-17.134-11.45-32.4-21.267-45.804-9.817-13.396-22.363-24.071-37.625-32.013-15.271-7.954-33.188-11.925-53.746-11.925-18.392 0-35.142 3.275-50.25 9.817-15.12 6.55-28.12 15.508-39.025 26.875-10.913 11.379-19.325 24.854-25.238 40.433-5.92 15.58-8.883 32.404-8.883 50.475 0 18.692 2.883 35.838 8.646 51.409 5.77 15.587 13.946 28.983 24.542 40.2 10.591 11.216 23.525 19.858 38.791 25.933 15.267 6.08 32.404 9.12 51.417 9.12 27.417 0 50.78-6.233 70.104-18.7 17.204-11.09 30.454-28.75 39.746-52.953zM716.742 171.063c1.709-5.921 4.68-11.53 8.884-16.834 4.208-5.287 9.816-9.729 16.825-13.316 7.012-3.58 15.808-5.371 26.408-5.371 16.196 0 28.275 4.362 36.217 13.079 7.95 8.733 13.475 21.504 16.6 38.33H713.705c.308-4.672 1.325-9.963 3.037-15.888zm103.938 97.07c-3.088 4.155-7.43 8.171-13.034 12.059-9.658 6.704-21.187 10.05-34.583 10.05-18.696 0-33.03-4.825-42.996-14.488-9.979-9.654-15.425-25.241-16.362-46.741h174.333c1.242-18.688-.316-36.605-4.67-53.746-4.371-17.134-11.45-32.4-21.267-45.804-9.813-13.396-22.363-24.071-37.621-32.013-15.275-7.954-33.188-11.925-53.75-11.925-18.392 0-35.138 3.275-50.25 9.817-15.117 6.55-28.121 15.508-39.025 26.875-10.909 11.379-19.321 24.854-25.238 40.433-5.92 15.58-8.879 32.404-8.879 50.475 0 18.692 2.88 35.838 8.646 51.409 5.767 15.587 13.942 28.983 24.537 40.2 10.592 11.216 23.525 19.858 38.792 25.933 15.267 6.08 32.404 9.12 51.417 9.12 27.412 0 50.779-6.233 70.104-18.7 17.204-11.09 30.454-28.75 39.75-52.953zM456.888 171.063c1.708-5.921 4.675-11.53 8.883-16.834 4.204-5.287 9.813-9.729 16.825-13.316 7.013-3.58 15.809-5.371 26.404-5.371 16.2 0 28.28 4.362 36.221 13.079 7.95 8.733 13.475 21.504 16.6 38.33h-107.97c.304-4.672 1.32-9.963 3.037-15.888zm103.937 97.07c-3.087 4.155-7.429 8.171-13.037 12.059-9.658 6.704-21.183 10.05-34.58 10.05-18.7 0-33.033-4.825-42.995-14.488-9.98-9.654-15.425-25.241-16.363-46.741h174.33c1.246-18.688-.313-36.605-4.667-53.746-4.37-17.134-11.454-32.4-21.267-45.804-9.816-13.396-22.362-24.071-37.62-32.013-15.276-7.954-33.192-11.925-53.75-11.925-18.392 0-35.142 3.275-50.25 9.817-15.117 6.55-28.121 15.508-39.026 26.875-10.912 11.379-19.325 24.854-25.241 40.433-5.921 15.58-8.884 32.404-8.884 50.475 0 18.692 2.884 35.838 8.65 51.409 5.763 15.587 13.942 28.983 24.542 40.2 10.592 11.216 23.525 19.858 38.792 25.933 15.266 6.08 32.404 9.12 51.416 9.12 27.409 0 50.78-6.233 70.105-18.7 17.204-11.09 30.45-28.75 39.745-52.953zM67.533 273.821c2.959 5.138 6.78 9.346 11.45 12.617 4.675 3.27 10.05 5.687 16.125 7.246 6.08 1.562 12.388 2.337 18.93 2.337 4.675 0 9.583-.542 14.725-1.637 5.141-1.084 9.816-2.805 14.02-5.142 4.209-2.338 7.713-5.446 10.517-9.346 2.804-3.892 4.208-8.796 4.208-14.72 0-9.972-6.625-17.447-19.866-22.438-13.246-4.98-31.709-9.967-55.384-14.954a323.864 323.864 0 0 1-28.279-7.713c-9.191-2.958-17.37-6.85-24.537-11.683-7.171-4.83-12.934-10.905-17.292-18.23-4.367-7.316-6.546-16.279-6.546-26.875 0-15.575 3.042-28.35 9.117-38.325 6.075-9.966 14.096-17.833 24.07-23.6 9.967-5.766 21.184-9.816 33.65-12.154 12.46-2.337 25.242-3.504 38.326-3.504 13.087 0 25.779 1.246 38.091 3.738 12.305 2.495 23.292 6.704 32.955 12.62 9.65 5.921 17.679 13.788 24.066 23.6 6.384 9.817 10.205 22.2 11.45 37.159h-63.096c-.933-12.771-5.766-21.417-14.487-25.938-8.725-4.516-19.008-6.779-30.846-6.779-3.742 0-7.796.233-12.154.7-4.367.467-8.338 1.483-11.917 3.042-3.587 1.562-6.625 3.816-9.116 6.775-2.496 2.962-3.738 6.937-3.738 11.916 0 5.925 2.175 10.75 6.546 14.488 4.358 3.742 10.046 6.78 17.058 9.117 7.009 2.333 15.03 4.437 24.071 6.308 9.033 1.87 18.225 3.9 27.575 6.08a282.48 282.48 0 0 1 28.275 7.94c9.188 3.122 17.367 7.247 24.538 12.388 7.162 5.142 12.925 11.534 17.291 19.163 4.363 7.637 6.546 17.058 6.546 28.279 0 15.888-3.2 29.208-9.583 39.958-6.388 10.75-14.721 19.396-25.004 25.938-10.284 6.546-22.046 11.146-35.288 13.792a206.201 206.201 0 0 1-40.43 3.97c-14.02 0-27.737-1.4-41.128-4.208-13.4-2.804-25.317-7.475-35.754-14.017-10.442-6.545-19.009-15.195-25.709-25.941C4.28 285.038.621 271.563 0 255.358h63.096c0 7.171 1.475 13.321 4.437 18.463z"/>
      </g>
    </svg>
  </a>
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
