aside#left-aside {
  display: flex;
  order: 1;
  position: relative;
  z-index: 13;
      background-color: white;
  @include breakpoint(mediumplus){
    order: unset;
    width: 70px;
    height: 100vh;
    position: fixed;
    top: 0;

  }
  .region {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    @include breakpoint(mediumplus){
      flex-direction: column;
    }
  }
  &.menu-open {
    #block-social {
      opacity: 1;
      transition: 0.3s ease;
    }
  }
}

.toolbar-horizontal {
  aside#left-aside {
    background-color: $body-background;
    .region {
      padding-top: 39px;
    }
  }
  &.toolbar-tray-open {
    aside#left-aside {
      .region {
        padding-top: 76px;
      }
    }
  }
}
aside#left-aside{
  @include breakpoint(mediumplus){
    border-right: solid 2px black;
  }
  .region-sidebar_first{
    border-bottom: solid 1px black;
    padding-top: 20px;
    padding-bottom: 15px;
    @include breakpoint(mediumplus) {
         border-bottom: none;
    max-width: 68px;
    padding-top: 55px;
    }
    .block-nav-toggle {
      @include grid-col-gutter();
        @include breakpoint(mediumplus) {
          transform: rotate(-90deg);
           transform-origin: 0% -130%;
          margin-top: 205px
        }
         @include breakpoint(large) {
           transform: rotate(-90deg);
           transform-origin: 0% -130%;
           margin-top: 235px
         }
      button {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        span.menu-text{
          margin-right: 30px;
          text-transform: lowercase;
          font-weight: bold;
        }
      }
    }
    .block-social{
      .linkicon{
          @include breakpoint(mediumplus) {
            width: 69px;
          }
        }
    }

  }
}
