// Non-modular or client styles for .l-footer region.
#footer-wrapper {
  order: 4;
  @include push-right();

  @include breakpoint(mediumplus) {
    order: unset;
  }
}

footer#footer {
  @include flex-grid-row();
  flex-direction: column;
  align-items: center;
  padding: 30px 0;

  @include breakpoint(mediumplus) {
    flex-direction: row;
  }

  @include breakpoint(large) {
    flex-wrap: nowrap;
  }

  .region {
    @include grid-col-gutter();
    width: 100%;
    margin-bottom: 30px;

    @include breakpoint(mediumplus) {
      width: auto;
      margin-bottom: 0;
      @include flex-grid-column(1 of 3);
    }
  }

  .paragraph--type--branch {
    @include breakpoint(mediumplus) {
      width: 50%;

    }
  }

  .block-social {
    .linkicon {
      justify-content: center;

      @include breakpoint(mediumplus) {
        justify-content: flex-start;
      }
    }
  }
}



.block-base-footer {
  ul.menu {
    justify-content: flex-end;
    flex-wrap: nowrap;

    @include breakpoint(mediumplus) {
      justify-content: flex-start;
      flex-direction: row;
    }

    @include breakpoint(large) {
      flex-direction: column;
    }

    @include breakpoint(xxlarge) {
      flex-direction: row;
          width: 309px;
    }

    &>li {
      a {
        font-size: 10px;
        color: #BEBEBE;
        text-transform: lowercase;
        padding: 0.7rem 10px;

        @include breakpoint(mediumplus) {
          padding-left: 0;
          @include text();
        }

        @include breakpoint(large) {
          padding: 0px;
          margin-bottom: 5px;
        }

        @include breakpoint(xxlarge) {
          padding-left: 1rem;
          margin-right: 15px;
          margin-top: 55px;
        }

        @include breakpoint(xxlarge) {
          &:first-of-type {
            padding-left: 0;
          }
        }
      }
    }
  }
       @include breakpoint(xxlarge) {
        margin-right: -35px;
       }
}

.region-footer_first {
  margin-bottom: 0px !important;

  @include breakpoint(mediumplus) {
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100% !important;
    width: 100%;
    display: flex;

    flex: 0 0 100% !important;

  }

  @include breakpoint(large) {
    max-width: 64% !important;
  }

  @include breakpoint(xxlarge) {
    max-width: 55% !important;
  }

  #block-contact-location,
  #block-contact-contact {
    h2 {
      letter-spacing: 2px;
      margin-bottom: 15px;
      margin-top: 30px;
      text-transform: lowercase;

      @include breakpoint(mediumplus) {
        font-size: 14px !important;
      }
    }

    @include breakpoint(mediumplus) {
      font-size: 14px !important;
      margin-right: 40px;
    }

    .base-contact-fields {
      p {
        @include text();

        span.street {
          display: inline-block;
        }

        span.house-number {
          display: inline-block;
        }
      }

      p.street-house {
        min-width: 216px;
      }

    }

    p {
      a {
        color: black;
        @include text();
        transition: 0.3s ease;
      }

      a:hover {
        @include hover();
      }
    }
  }
}

#block-social-footer {
  .block-title {
    text-align: left;
    letter-spacing: 2px;
    margin-bottom: 15px;
    margin-top: 30px;
    text-transform: lowercase;

    @include breakpoint(mediumplus) {
      font-size: 14px !important;
    }
        @include breakpoint(large) {
        min-width: 100px;
        }
  }

  .linkicon {
    flex-direction: column;
    text-align: left;
    width: 60px;
    li {
      transition: 0.3s ease;

      @include breakpoint(mediumplus) {
        margin-bottom: 0px;
      }

      a {
        @include text();
        text-transform: lowercase;
            @include breakpoint(mediumplus) {
              font-size: 14px !important;
            }

        svg {
          display: none;
        }

        .linkicon__text {
          display: block;
        }
      }
    }

    li:hover {
      @include hover();
    }
  }
}

.region-footer_last {
  margin-bottom: 0px !important;
  margin-top: 40px;

  @include breakpoint(mediumplus) {
    flex: 2 0 100% !important;
    max-width: 100% !important;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 100Px;
  }

  @include breakpoint(large) {
    max-width: 40% !important;
    margin-top: 50Px;
    padding-left: 0px !important;
  }

  @include breakpoint(xxlarge) {
    max-width: 47% !important;
  padding-top: 25px;
  }

  #block-sitebranding {
    padding-left: 0px;
    margin-bottom: 40px;

    a {
      svg {
        width: 278px;
        height: 57px;

        @include breakpoint(mediumplus) {
          width: 173px;
          height: 36px;
        }

        @include breakpoint(large) {
          margin-top: 33Px;

        }
      }
    }
  }
}
