// Non-modular or client styles for .l-header region.
#header-wrapper {
  order: 2;
  @include push-right();
  @include breakpoint(mediumplus){
    order: unset;
  }
  header#header {
    @include global-container();
    @include breakpoint(mediumplus){
      margin-top: 65px;
      margin-bottom: 50px;
    }
  }
}

.region-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  @include breakpoint(large){
    padding: 30px 0;
  }
}

.block-system-branding-block,
.block-nav-toggle {
  @include grid-col-gutter();
}

.block-system-branding-block{
  a{
    svg{
      width: 222px;
      @include breakpoint(xlarge){
        width: 315px!important;
      }
    }
  }
}