.region-left_off_canvas {
        padding-top: 65px;
  padding-left: 50px;
      max-height: 100%;
      position: relative;
  @include breakpoint(mediumplus){

      padding-left: 200px;
  
  
         @include global-container();
         max-height: 100%;
        position: relative;
        padding-top: 200px;
      overflow: hidden;
  
}
  .menu.vertical.drilldown{

      li{
        border: 0px;
        a{
          text-transform: lowercase;
          font-size: 22Px;
          transition: 0.3s ease;
          outline: 0;
        }
        a:hover{
             @include hover();
        }
      }
  }
  nav.block-secondarynavigation{
    @include breakpoint(mediumplus){
      margin-top: 25px;
    }
    margin-top: 35px;
    ul.menu{
      display:flex;
      flex-direction: column;
      li{
        a{
           text-transform: lowercase;
          font-size: 19px;
          padding: 0.7rem 1rem;
          transition: 0.3s ease;
        } 
          a:hover {
            @include hover();
          }
      }

    }
  
}
#block-social-off-canvas{
  margin-top: 15px;
    @include breakpoint(mediumplus) {
      margin-top: 135px;
      margin-left: -50px;
    }
        @include breakpoint(large) {
          margin-top: 205px;
        }
  .item-list{
    .linkicon{

          display: flex;
          flex-direction: row;
          
        li{
          margin-bottom: 0px;
        }
    }
  }
 
}
#block-social-off-canvas{
  display: inline-block;
  .icon{
        width: 26Px;
        height: 26Px;
        margin-left: 10px;
        @include breakpoint(mediumplus){
        margin-left: 15px;
        }

  }
  .fa-facebook-f{
              width: 22px !important;
              height: 22px !important;
              margin-top: 2px !important;
  }
}
#block-contact{
   margin-left: 8px;
   @include breakpoint(mediumplus){
 margin-left: -50px;
   }
    
  @include breakpoint(large){
  display: inline-block;
  margin-left: 0px;
  }
  .field-name-field-branches{
    .field-items{
      .field-item{
        .paragraph--type--branch{
          .base-contact-fields{
            display: none;
          }
          .field-name-field-extra-contact-fields{
            margin-top: 15px;
            @include breakpoint(mediumplus){
               padding-left: 5px;
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            justify-content: space-between;
            }
            .paragraph--type--contact-field{
               margin-left: 10px;
              font-weight: bold;
              @include breakpoint(mediumplus){
                margin-left: 15px;
              }
              @include breakpoint(large){
                margin-left: 35px;
              }
              a{
                transition: 0.3S ease;
              }
                a:hover {
                  @include hover();
                }
            }
          }
        }
      }
    }
  }
}
}
.linescroll{
  content: "";
  display: block;
  width: 2px;
  height: 100vh;
  background-color: black;
  position: absolute;
  left: 40px;
  top: 55Px;
@include breakpoint(mediumplus){
  content: "";
display: block;
width: 2px;
height: 300px;
background-color: black;
position: absolute;
left: 175px;
top: 200px;
}
}
.squarescroll {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background-color: black;
      position: absolute;
      left: 36px;
      transition: 0.5s ease-out;
  @include breakpoint(mediumplus) {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
    left: 171px;
    transition: 0.5s ease-out;
  }
}
.line_offcanvas{
  display: none;
  overflow: hidden;
  height: 0px;
  @include breakpoint(mediumplus){
    display: block;
    position: absolute;

    right: -185px;
  }
  @include breakpoint(large){

    right: -30px;
  }
    @include breakpoint(xlarge) {
     top: -100px;
     right: 75px;
    }
}

// When logged in and toolbar is visibles
.toolbar-horizontal {
  .region-right_off_canvas {
    padding-top: (calc(71.2px + 39px)); // header height + toolbar height
  }
  &.toolbar-tray-open {
    .region-right_off_canvas {
      padding-top: (calc(71.2px + 76px)); // header height + toolbar and tray height
    }
  }
}


.block-base-main-menu {
  @include grid-col-gutter();
}
.off-canvas-wrapper {
  ul.menu {
    &>li {
      &>a {
        color: $body-font-color;
        text-transform: uppercase;
        font-weight: $global-weight-bold;
        transition: color .25s ease-out;
        &>span {
          position: relative;
          &:after {
            content: '';
            display: none;
            background-color: $body-font-color;
            height: 2px; width: 100%;
            position: absolute;
            bottom: -3px; left: 0;
          }
        }
        &.is-active {
          color: #989898;
          &>span {
            &:after {
              display: block;
            }
          }
        }
        &:hover, &:focus {
          color: $primary-color;
        }
      }
    }
  }
}