// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }

.linkicon {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
    @include breakpoint(mediumplus){
      justify-content: flex-start;
          flex-direction: column;
   
    }
  li{
    margin-right: 19px;
     @include breakpoint(mediumplus) {
      margin-right: 0px;
    
      text-align: center;
      margin-bottom: 20px;
     }
  }
  a{
    color: black;
    transition: 0.3S ease;
    .fa-facebook-f{
      margin-top: -2px;
      
    }
  }
  a:hover{
    @include hover();
  }
  .linkicon__text {
    display: none;
  }
}


// FORM

.js-form-item {
  margin-bottom: 15px;
  input {
    margin-bottom: 0;
  }
  .description {
    font-size: 12px;
    margin-top: 2px;
  }
}
.js-form-type-checkbox {
  display: flex;
  align-items: flex-start;
  input {
    margin-top: 7px;
  }
}

.full {
  header {
    @include flex-grid-row();
    flex-wrap: nowrap;
  }
}
::-moz-selection {
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

