// @file
// Place your mixins here. Feel free to roll your own mixins.
@mixin global-container($center:true){
  max-width: $global-width;
  width: 100%;
  @if $center == true {
    margin: 0 auto;
  }
}

@mixin push-right(){
  @include breakpoint(mediumplus){
    padding-left: 70px;
  }
}

@mixin collapse-edges(){
  &:first-of-type {
    padding-left: 0 !important;
  }
  &:last-of-type {
    padding-right: 0 !important;
  }
}
@mixin text(){
  font-family: $font-light;
  letter-spacing: 2px;
  line-height: 1.8;
}

@mixin hover {
  color:#989898;

}
@mixin img{
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;

}
@mixin imghover{
                -webkit-transform: scale(1.01);
                transform: scale(1.01);
}
