.block.contact-data.full {}

.paragraph--type--branch {
  display: flex;


  p {
    margin-bottom: 0;
  }
      a {
        transition: 0.3S ease;
      }

      a:hover {
        @include hover();
      }
}

.geolocation-common-map {
  height: 400px;
}

.paragraph--type--form-contact {

            @include grid-col-gutter();
            @include global-container();
  @include breakpoint(mediumplus){
    display: flex;
    flex-direction: row;

    flex-wrap: nowrap;
  }
  .form-text{
     @include breakpoint(mediumplus) {
       flex: 1 50%;
       display: flex;
       flex-direction:column;
       
     }

  }
  .field-name-field-form {
      @include breakpoint(mediumplus) {
        flex: 1 50%;
      }
    .field-items {
      .field-item {
        form {
          input {
            background-color: #F5F5F5;
            border: none;
            border-bottom: solid 1Px #979797;
            color: black;
            height: 45px;
            transition: 0.5s ease;
           
          }


          input::placeholder, textarea::placeholder {
            color: black;
            @include text();
          }
          input:focus{
            background-color: transparent;
          }

          textarea {
            background-color: #F5F5F5;
            border: none;
            border: solid 1px #979797;
            transition: 0.3S ease;
                height: 45px;
                line-height: 30px;
                min-height: 45px;
                                 border-top: solid 0px #979797;
                                 border-left: solid 0px #979797;
                                 border-right: solid 0px #979797;
          }
               textarea:focus {
                 background-color: transparent;
                 border-top: solid 0px #979797;
                 border-left: solid 0px #979797;
                 border-right: solid 0px #979797;
               }
           

          .js-form-type-select {
            &>span {
              &>span {
                &>span {
                  background-color: #F5F5F5 !important;
                  border: none;
                  border-bottom: solid 1Px #979797;
                  color: black;
                  height: 45px;
                  border-radius: 0px;
                  .select2-selection__arrow{
                    margin-top: 7px;
                    margin-right: 20px;
                  }
                  &>span {
                    line-height: 45px;

                    &>span {
                      color: black;
                      @include text();
                    }
                  }
                }
              }
            }
          }
          .js-form-type-checkbox{
            label{
                    color: black;
                    @include text();
            }
            input{
              display: none;
                                       &+label {
                                         display: -webkit-inline-box;

                                         @include breakpoint(mediumplus) {
                                           width: 55%;
                                           margin-left: 0px;
                                         }

                                         &:before {
                                           content: "";
                                           width: 18px;
                                           height: 18px;
                                           border: 1px solid $primary-color;
                                           display: block;
                                           margin-right: 10px;
                                           margin-top: 5px;

                                           @include breakpoint (mediumplus) {
                                             border: 1px solid black;
                                           }

                                         }
                                       }

                                       &:checked {
                                         &+label {
                                           &:before {
                                             background: url("icons/checked.svg") no-repeat center center;
                                             background-color: black;

                                             @include breakpoint(medium) {
                                               background-color: transparent;
                                             }
                                           }
                                         }
                                       }
            }
            
          }
          .webform-actions{
            input{
              background-color: transparent;
              border: none;
              text-transform: lowercase;
              font-weight: normal;
              @include text();
              font-size: 14px;
              font-family: $body-font-family;
              transition: 0.3s ease;
            }
            input:hover{
              @include hover();
            }
          }
        }

      }
    }
  }
  .field-paragraph--field-text{
        @include grid-col-gutter();
        @include global-container();
        @include text();
        font-size: 12px;
          @include breakpoint(mediumplus) {
           
            height: fit-content;
          }
              @include breakpoint(large) {
                width: 85%;
              }

              @include breakpoint(xlarge) {
                width: 70%;
              }
                @include breakpoint(xxlarge) {
                  width: 60%;
                }
  }
  .field-paragraph--field-contact-data{
        @include grid-col-gutter();
        @include global-container();
        @include text();
        font-weight: bold;
        font-size: 14px;
          @include breakpoint(mediumplus) {
          
            height: fit-content;
           
          }
                @include breakpoint(large) {
                  width: 85%;
                }

                @include breakpoint(xlarge) {
                  width: 70%;
                }

                @include breakpoint(xxlarge) {
                  width: 60%;
                }
        .paragraph--type--branch{
          display: flex;
          flex-direction: column;
          .name{
            display: none;
          }
        }
  }
}

   .select2-results__option {
     @include text();
   }
   .webform-confirmation__message{

         font-family: $font-light;
         letter-spacing: 2px;
         line-height: 1.8;
       
   }
   .js-form-type-textfield, .js-form-type-email, .js-form-type-tel{
      input{
         line-height: 1.75 !important;
      }
    }