.home.full {
  header {
    .titles{
      @include breakpoint(large){
        flex: 1 50%;
      }

    }
    .body {
      @include grid-col-gutter();
         @include breakpoint(large) {
           flex: 1 50%;
         }
      .field-items{
        .field-item{
          p{
     @include text();
 
          }
        }
      }
      @include breakpoint(mediumplus){
         @include grid-col-gutter(35px);
        @include grid-col(9 of 10);
        margin-top: 100px;  
        margin-bottom: 100px;
      }
    }
  }
  .line_home {
      display: block;
      position: absolute;
      top: 61px;
      height: 432px;
      right: 10Px;
      width: 199px;
      opacity: 0.85;
      @include breakpoint(mediumplus){
        width: 381px;
        height: 826px;
        top: -235Px;
        right: 150px;
      }
      @include breakpoint(large){
        right: 400px;
      }
            @include breakpoint(xlarge) {
              left: 130px;
            
            }
                    @include breakpoint(xxlarge) {
                      left: 350px;
                        top: -200px;
                    }
  }
}