.line_offcanvas {
  display: none;
  opacity: 0.85;
  @include breakpoint(mediumplus) {
    display: block;
    position: absolute;
    top: -165px;
    
    right: -185px;
  }

  @include breakpoint(large) {
    top: -178px;
    right: -30px;
  }

  @include breakpoint(xlarge) {
    top: -100px;
    right: 75px;
  }
  svg{
    height: 100vh;
  }
}

.line_contact {
  display: block;
  position: absolute;
  top: 61px;
  height: 432px;
  right: 10Px;
  width: 210px;
    opacity: 0.85;

  @include breakpoint(mediumplus) {
width: 300px;
top: -1Px;
left: 12%;
  }

  @include breakpoint(largemin) {
    right: 37%;
  }

  @include breakpoint(large) {
    top: -2Px;
    left: 17%;
    width: 435px;
  }


  @include breakpoint(xxlarge) {
    
    left: 24%;
    top: -43px;
  }
  }

.line_work {
  display: block;
  position: absolute;
  top: 61px;
  height: 432px;
  right: 10Px;
  width: 210px;
  overflow: hidden;
    opacity: 0.85;

  @include breakpoint(mediumplus) {
    width: 300px;
    height: 633px;
    top: -1Px;
    left: 30%;
  }

  @include breakpoint(largemin) {
    right: 37%;
      
  }

  @include breakpoint(large) {
    top: -2Px;
    left: 17%;
    width: 435px;
    height: 700px;
  }


  @include breakpoint(xxlarge) {
    height: 750px;
    left: 24%;
    top: -43px;
  }
}


.workdetailline {
  display: block;
  position: absolute;
  top: 61px;
  height: 432px;
  right: 10Px;
  width: 210px;
  z-index: -1;
    opacity: 0.85;
  @include breakpoint(mediumplus) {
    width: 300px;
    top: 245Px;
    left: 30%;
  }

  @include breakpoint(largemin) {
    right: 37%;
  }

  @include breakpoint(large) {
    top: 315Px;
    left: 17%;
    width: 435px;
  }


  @include breakpoint(xxlarge) {

    left: 18%;
    top: 334px;
  }
}
.workteaserline{
  display: block;
  position: absolute;
  top: 183px;
  height: 100%;
  right: 10Px;
  width: 89%;
  z-index: -1;
    opacity: 0.85;
  @include breakpoint(mediumplus) {

  }

  @include breakpoint(largemin) {

  }

  @include breakpoint(large) {

  }


  @include breakpoint(xxlarge) {

  }
}
.ctaline {
  display: block;
  position: absolute;
  top: 61px;
  height: 432px;
  right: 10Px;
  width: 210px;
  z-index: -1;
    opacity: 0.85;
  @include breakpoint(mediumplus) {
    width: 300px;
    top: -1Px;
    left: 30%;
  }

  @include breakpoint(largemin) {
    right: 37%;
  }

  @include breakpoint(large) {
    top: -2Px;
    left: 17%;
    width: 435px;
  }


  @include breakpoint(xxlarge) {

    left: 24%;
    top: -43px;
  }
}
.line_partners {
  display: block;
  position: absolute;
  top: 61px;
  height: 432px;
  right: 10Px;
  width: 303px;
    opacity: 0.85;
  @include breakpoint(mediumplus) {
    width: 340px;
    top: -15Px;
    left: 12%;
  }

  @include breakpoint(largemin) {
    right: 37%;
  }

  @include breakpoint(large) {
        width: 392px;
   top: -1Px;
   left: 30%;

   
  }

  @include breakpoint(xlarge) {
    width: 392px;


  }

  @include breakpoint(xxlarge) {
    width: 367px;
  }
}
.line_aanpak {
  display: block;
  position: absolute;
  top: 61px;
  height: 432px;
  right: 10Px;
  width: 303px;
  opacity: 0.85;
  @include breakpoint(mediumplus) {
    width: 461px;
    top: -1Px;
    right: 30%;
  }

  @include breakpoint(largemin) {
    right: 37%;
  }

  @include breakpoint(large) {
    top: -75Px;
    left: 17%;
    width: 788px;
  }


  @include breakpoint(xxlarge) {
top: -125PX;
left: 24%;
  }
}
