.page.full {
  header {
    display: flex;
    flex-direction: row-reverse;
        h2 {
          font-size: 16px;
          letter-spacing: 2Px;
          font-family: $font-medium;
          margin-bottom: 20px;
        }
    .titles {
       @include grid-col-gutter();
       @include breakpoint(medium) {
        margin-right:auto;
       }
      @include breakpoint(large) {
        flex: 1 50%;
        align-self: flex-end;
      }

      h1{
        font-weight: bold;
        text-transform: lowercase;
        font-size: 37px;
         @include breakpoint(medium) {
             margin-bottom: 30px;
         }
         @include breakpoint(large) {
           margin-bottom: 65px;
              
         }
      }
      

    }
      .body {
        @include grid-col-gutter();

        @include breakpoint(large) {
          flex: 1 50%;
        }

        .field-items {
          .field-item {
            p {
              @include text();
              font-size: 16px;
            }
          }
        }

        @include breakpoint(mediumplus) {
          @include grid-col-gutter(35px);
          @include grid-col(9 of 10);
          margin-top: 100px;
          margin-bottom: 100px;
        }
        @include breakpoint(large){
          margin-bottom: 220px;
        }
      }

    figure {
      img {
        margin: 0 auto 30px auto;
        display: block;

        @include breakpoint(medium) {
          margin: 0 auto 50px auto;
        }

        @include breakpoint(large) {
          margin: 0 auto 80px auto;
        }
      }

      figcaption {
        @include grid-row();
        @include grid-col-gutter();
        margin-bottom: 30px;

        @include breakpoint(medium) {
          margin-bottom: 50px;
        }

        @include breakpoint(large) {
          margin-bottom: 80px;
        }
      }
    }
  }
  .view-mode-full{
    .field-name-field-paragraphs{
      .paragraph--type--text-image{
          figure {
            img {
            

            }
          }
        .field-name-field-text{
       
          @include breakpoint(large) {
          margin-top: 50px;
          }
          h2{
          @include text();
          font-family: $body-font-family;
          @include breakpoint(mediumplus){
            font-size: 16px;
          }
          }
          p{
            @include text();
               @include breakpoint(mediumplus) {
                 font-size: 12px;
               }
          }
        }
      }
      .option-image-right{
        &>div{
          @include breakpoint(large){
            padding-left: 85px;
          }
               .field-paragraph--field-text {
                 @include breakpoint(mediumplus) {
                   margin-left: 50px;
                 }
               }
        }
      }
      .option-image-left {
        &>div {
          @include breakpoint(large) {
            padding-right: 85px;
          }
             @include breakpoint(xxlarge) {
               padding-right: 125px;
             }
          
        }
        &>figure{
          img{
              @include breakpoint(mediumplus) {
                margin-left: 50px;
              }
          }
        }
      }
    }
  }
}
