.field-name-field-paragraphs {
  &>.field-items {
    &>.field-item {
      margin-bottom: 30px;

      @include breakpoint(medium) {
        margin-bottom: 50px;
      }

      @include breakpoint(large) {
        margin-bottom: 80px;
      }

      @include breakpoint(xxlarge) {
        margin-bottom: 100px;
      }
    }
  }
}

.field-name-field-text-blocks {
  @include grid-col-row();

  &>.field-items {
    @include breakpoint(medium) {
      @include flex-grid-row(nest, $grid-row-width, null, true, false);
      flex-wrap: nowrap;
      justify-content: center;
    }

    &>.field-item {
      @include grid-col-gutter();
    }
  }
}

.paragraph--type--text-image {
  @include breakpoint(medium) {
    @include flex-grid-row();

  }

  &>div,
  &>figure {

    @include breakpoint(medium) {
      @include flex-grid-column(1 of 2);
    }
  }

  &>div {
    @include grid-col-gutter();

    @include breakpoint(large) {
      @include flex-grid-column(5 of 12);
    }
  }

  &>figure {
    @include grid-col-gutter();
    margin-bottom: 15px;

    @include breakpoint(medium) {
      margin-bottom: 30px;
    }

    @include breakpoint(large) {
      @include flex-grid-column(7 of 12);
      margin-bottom: 0;
    }

    img {
      @include breakpoint(mediumplus) {

      }
    }
  }

  &.option-image-right {
    h2 {
      margin-bottom: 20px;
    }

    @include breakpoint(large) {
      &>figure {
        padding-left: 105px !important;

        img {
          @include breakpoint(xlarge) {
            width: 100%;
          }
        }
      }
    }
  }

  &.option-image-left {
    h2 {
      margin-bottom: 20px;
    }

    @include breakpoint(medium) {
      flex-direction: row-reverse;
    }

    @include breakpoint(large) {
      &>figure {
        padding-right: 105px !important;
      }
    }
  }
}


// GALLERY
.paragraph--type--gallery {
  .field-name-field-images {
    //@include grid-col-row();
    @include global-container();
    margin: 0 auto;

    @include breakpoint(small) {
      @include grid-col-gutter();
    }

    &>.field-items {
      @include breakpoint(mediumplus) {
        margin-left: 50px;
      }

      &>div {
        @include grid-col-gutter();
        margin-bottom: 20px;
        width: 100%;

        @include breakpoint(small) {
          padding-left: 0px;
          padding-right: 0px;
        }

        @include breakpoint(smallplus) {
          width: calc((100% - 20px) / 2);
        }

        @include breakpoint(mediumplus) {
          padding-left: 0px;
          padding-right: 0px;
        }

        @include breakpoint(largemin) {
          width: calc((100% - 40px) / 3);

          &:nth-of-type(2) {
            width: calc(((100% - 40px) / 3) * 2);
          }
        }
      }
    }
  }
}

// IMAGES (3)
.paragraph--type--images {
  .field-name-field-images-3 {
    @include grid-col-row();

    &>.field-items {

      @include flex-grid-row(nest, $grid-row-width, null, true, false, 20px);

      &>div {
        @include grid-column-gutter(20px);
            picture {
                      overflow: hidden;
                      width: 100%;
                      display: block;
                      height: 100%;

                      img {
                        @include img();
                            width: 100%;
                      }

                      img:hover {
                        @include imghover();
                      }
            }
      }
    }
  }
}

.project.full {
  .paragraph--type--images .field-name-field-images-3 {
    &>.field-items {
      flex-flow: column;
      margin-left: 0px;
      margin-right: 0px;

      @include breakpoint(mediumplus) {
        flex-flow: row;
        @include flex-grid-row(nest, $grid-row-width, null, false, false, 56px);
      }

      &>div {
        @include breakpoint(mediumplus) {
          @include grid-column-gutter(56px);
        }
      }
    }
  }
}

.paragraph--type--featured-projects {
  border-bottom: 1px solid black;

  @include breakpoint(mediumplus) {
    border: 0px solid black;
  }

  .field-paragraph--field-projects-featured {
    @include breakpoint(mediumplus) {
      position: relative;
    }
  }

  .field-paragraph--field-projects-featured::before {
    @include grid-col-gutter();
    content: "work.";
    display: block;
    z-index: 2;
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 25px;


    @include breakpoint(mediumplus) {
      position: absolute;
      margin-top: 75px;
      margin-left: 15px;
    }

    @include breakpoint(xxlarge) {
     max-width: 87.5rem;

    }
  }


  .project.featured {
    figure{
      picture{
             overflow: hidden;
             width: 100%;
             display: block;
             height: 100%;
        img{
          @include img();
        }
        img:hover{
          @include imghover();
        }
      }
    }
    figcaption {
      @include global-container();

      .title-link {
        background-color: $body-background;
        @include grid-column-gutter();
        padding-bottom: 20px;
        padding-top: 20px;

        h3 {
          text-align: right;
          margin-right: 110px;
          font-family: $font-medium;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 2px;

          @include breakpoint(large) {
            margin-right: 150px;
          }

          @include breakpoint(xlarge) {
            margin-right: 175px;
          }

          @include breakpoint(xxlarge) {
            margin-right: 150px;
          }
        }

        a {
          text-align: right;
          display: block;
          margin-right: 110px;
          @include text();
          color: black;
          text-transform: lowercase;
          font-size: 12px;

          @include breakpoint(large) {
            margin-right: 150px;
          }

          @include breakpoint(xlarge) {
            margin-right: 175px;
          }

          @include breakpoint(xxlarge) {
            margin-right: 150px;
          }
        }
      }

      hr {
        display: none;

      }
    }
  }
}

.paragraph--type--map {
  margin-bottom: -30px;

  @include breakpoint(medium) {
    margin-bottom: -50px;
  }

  @include breakpoint(large) {
    margin-bottom: -80px;
  }

  @include breakpoint(xxlarge) {
    margin-bottom: -100px;
  }
}

.paragraph--type--call-to-action {
  @include grid-col-gutter();
  @include global-container();

  .field-name-field-call-to-action {

    @include breakpoint(mediumplus) {
      width: 75%;
    }

    @include breakpoint(xlarge) {
      width: 40%;
    }

    margin: 0 auto;
  }

  h2 {
    font-weight: bold;
    text-align: center;
    text-transform: lowercase;
    font-size: 37px;
  }

  p {
    text-align: center;
    @include text();
    font-size: 16px;
  }

  .button {
    border: none;
    text-transform: lowercase;
    font-weight: normal;
    @include text();
    text-align: center;
    margin: 0 auto;
    display: block;
    font-family: $body-font-family;
    font-size: 14px;
  }
}



.paragraph--type--text-images-3 {
  @include global-container();
  @include grid-col-gutter();

  .field-paragraph--field-labelhome {
    letter-spacing: 2px;
    text-transform: lowercase;
    line-height: 1.8;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .field-paragraph--field-text {
    @include text();
    margin-bottom: 35px;
    font-size: 12px;
        @include breakpoint(large) {
          width: 60%;
        }
                @include breakpoint(xlarge) {
                  width: 50%;
                  margin-bottom: -60px;

                }
                @include breakpoint(xxlarge) {
                  width: 38%;

                }
  }

  .field-paragraph--field-label-image {
    margin-top: 10px;
    margin-bottom: 30px;
    @include text();
    text-transform: lowercase;

  }

  .field-paragraph--field-image-label {
    @include breakpoint(large){
      margin-top: 185px;
    }
    .field-items {
      @include breakpoint(mediumplus) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
          @include breakpoint(large) {
            flex-wrap: nowrap;

          }
      .field-item{
        position: relative;
            .paragraph--type--image-label {
              .field-name-field-imagewithlabel {
                .field-items {
                  .field-item {
                    overflow: hidden;
                    width: 100%;
                    display: block;
                    height: 100%;

                    img {
                      @include img();
                    }

                    img:hover {
                      @include imghover();
                    }
                  }
                }
              }
            }
        .field-paragraph--field-label-image{
          @include breakpoint(mediumplus){
                min-width: 250Px;
          position:absolute;

          }
        }
      }
      .field-item:nth-child(1) {
        @include breakpoint(mediumplus) {
          flex: 1 39%;
          max-width: 85%;
        }
            @include breakpoint(large) {
              flex: 1 33%;
              max-width: 82%;
            }
                @include breakpoint(xlarge) {
                  flex: 1 33%;
                  max-width: 80%;
                }

      }

      .field-item:nth-child(2) {
        @include breakpoint(mediumplus) {
          flex: 2 60%;
          max-width: 45%;

        }
            @include breakpoint(large) {
              flex: 1 33%;
              max-width: 60%;
            }
        .field-paragraph--field-label-image {
          @include breakpoint(mediumplus) {
               top: -50px;

          }
        }
        .paragraph--type--image-label {
          @include breakpoint(mediumplus) {
            display: flex;
            flex-direction: column-reverse;

          }
        }
      }

      .field-item:nth-child(3) {
        @include breakpoint(mediumplus) {
          flex: 1 20%;
          max-width: 55%
        }
            @include breakpoint(large) {
              flex: 1 33%;
              margin-top: -200px;
            }

        .paragraph--type--image-label {}
      }
    }
  }
}

.hidden {}

.paragraph--type--projects{
  .field-paragraph--field-projects{
    .field-items{
      position: relative;
      svg{
        position: absolute;
      }
    }
  }
}

.paragraph--type--video{
  @include global-container();
  @include grid-col-gutter();
  video{
    @include breakpoint(mediumplus down){
      width: 100%!important;
    }
  }
}

.section-publi-pastorie{
  h1{
    display: none!important;
  }
}
