.project.full {

  header {
      flex-wrap: wrap !important;
    .titles {
      display: flex;
      flex-direction: column;
      @include breakpoint(medium){
        flex-direction: row;
      }
      h1 {
        @include grid-column-gutter();
      }
      .breadcrumb-wrapper {
        @include grid-column-gutter();
        @include breakpoint(mediumplus){
          padding-left: 300px !important;
        }
           @include breakpoint(large) {
             padding-left: 325px !important;
           }
        .breadcrumbs{
          li{
            text-transform: none;
          }
        }
      }
    }
    .main-content {
      @include grid-col-gutter();
    }
  }
}

.project.teaser {
  position: relative;
  figure.extra-images {
    display: none!important;
    .image {
      position: absolute;
      width: 40%;
      @include breakpoint(large){
           width: 35%;
      }
      
    }
  }
}
