figure.header-image{
  @include breakpoint(mediumplus){
/*  
    position: absolute;
  top: 0;
  z-index: -1;
  */
}
}
.field-paragraph--field-team-member{
           margin-top: 20px;
           margin-bottom: 20px;
  .field-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

    @include grid-col-gutter();
     @include global-container();

        .field-item{
          margin-left: 15px;
      .paragraph--type--team-member{
        .field-items{
          padding-left: 0px;
          padding-right: 0px;
        }
        .field-paragraph--field-label{
          font-size: 14px;
          letter-spacing: 2Px;
          font-family: $font-medium;
        }
        .field-paragraph--field-text{
          font-size: 12px;
          @include text();
          text-align: right;
        }
      }
    }
  }
}
.paragraph--type--text-images{
  @include grid-col-gutter();
  @include global-container();
  @include breakpoint(mediumplus){
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

  }
  .field-paragraph--field-text{
    .field-items{
      @include breakpoint(xlarge){
        width: 83%;
      }
        @include breakpoint(xxlarge) {
          width: 68%;
        }
    }
    h2{
                font-size: 16px;
                letter-spacing: 2Px;
                font-family: $font-medium;
                  margin-bottom: 20px;
    }
    p{
          font-size: 12px;
          @include text();
          text-align: left;
    }
      @include breakpoint(mediumplus) {
        flex: 1 40%;
       
      }
  }
  .field-paragraph--field-images-2{
    .field-items{
          @include breakpoint(mediumplus) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
          }
          @include breakpoint(largemin){
            flex-wrap: nowrap;
          }
      .field-item{
        margin-bottom: 15px;
        @include breakpoint(mediumplus) {
         margin-left: 50px;

        }
      }
    }
      @include breakpoint(mediumplus) {
        flex: 1 55%;
        max-width: 55%;
        
      }
  }
}