.paragraph--type--projects {
  .item-list {
    @include grid-col-gutter();
    @include global-container();

    ul {
      margin-left: 0px;

      @include breakpoint(large) {
        display: flex;
        flex-flow: row wrap;
      }


      li {
        list-style: none;

        @include breakpoint(large) {
          flex: 1 50%;
        }

        .project.teaser {
          margin-bottom: 100Px;

          @include breakpoint(mediumplus) {
            width: 70%;
            margin: 0 auto;
            margin-bottom: 150Px;
          }


          @include breakpoint(large) {
            margin-bottom: 75px;
            width: 100%;
             @include grid-column-gutter(56px);
          }

          @include breakpoint(xlarge) {
            margin-bottom: 75px;
          }

          .main-image {

            @include breakpoint(mediumplus) {
              margin: 0 auto;
            }

            figcaption {
              overflow: hidden;

              .title-link {
                margin-top: 20px;

                h3 {
                  text-align: right;

                  font-family: $font-medium;
                  text-transform: uppercase;
                  font-size: 14px;
                  letter-spacing: 2px;
                }

                a {
                  text-align: right;
                  display: block;
                  @include text();
                  color: black;
                  text-transform: lowercase;
                  font-size: 12px;
                  transition: 0.3s ease;
                }

                a:hover {
                  color: black;
                }
              }
            }

            picture {
              overflow: hidden;
              width: 100%;
              display: block;
              height: 100%;
            }


            img {
              overflow: hidden;

              @include breakpoint(mediumplus) {
                width: 100%;
                @include img();
              }
            }

            img:hover {
              @include imghover();
            }

          }

          .extra-images {
            display: none;

            @include breakpoint(mediumplus) {
              display: block;
            }

            .image {
              @include breakpoint(mediumplus) {
                overflow: hidden;




                img {
                  @include img();
                }

                img:hover {
                  @include imghover();
                }
              }
            }
          }
        }
      }
    }
  }
}

.titles {
  @include breakpoint(mediumplus) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  h2 {
    @include text();
    font-size: 12px;
    letter-spacing: 1.6px;

    @include breakpoint(mediumplus) {
      margin-left: 150px;
      line-height: 60px;
    }

  }
}

//Work Detail

.project.full {
  figure.main-image {
    picture {
      overflow: hidden;
      width: 100%;
      height: 100%;
      display: block;

      img {
        @include img();
      }

      img:hover {
        @include imghover();
      }
    }
  }

  header {

    .titles {
      display: flex;
      flex-direction: column-reverse;

      .breadcrumb-wrapper {
        position: relative;
        margin-top: 50px;
      }

      .breadcrumb-wrapper::before {
        position: absolute;
        content: "work.";
        display: block;
        z-index: 2;
        font-size: 37px;
        font-weight: bold;
        top: -66Px;
        margin-bottom: 25px;

        @include breakpoint(mediumplus) {
          left: 31px;
          top: -23px;
        }

        @include breakpoint(large) {
          left: 60px;
          top: -23px;
        }
      }

    }

    .main-content {
      @include breakpoint(mediumplus) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }

      @include breakpoint(large) {
        margin-top: 130px;
        margin-bottom: 130px;
      }

      h1 {
        @include text();
        font-size: 14px;
        text-transform: uppercase;
        font-family: $font-medium;
      }

      h2 {
        @include text();
        font-size: 14px;
        font-family: $body-font-family;
      }

      p {
        @include text();
        font-size: 16px;
      }

      .body {
        @include breakpoint(mediumplus) {
          width: 52%;
          margin-left: 117px;
        }
        .field-items{
          .field-item{
            @include text();
          }
        }
      }
    }
  }

  figure.main-image {
    margin-bottom: 60px;

    @include breakpoint(mediumplus) {
      margin-bottom: 80px;
    }

    @include breakpoint(xlarge) {
      margin-bottom: 140px;
    }
  }

  .field-name-field-paragraphs {
    .field-items {
      .field-item {
        margin-bottom: 0px;
        margin-bottom: 20px;

        @include breakpoint(large) {
          margin-bottom: 45px;
        }

        .paragraph--type--text-blocks {
          .field-paragraph--field-text-blocks {
            .field-items {
              &>.field-item {
                padding: 0;

                @include breakpoint(medium) {
                  @include grid-col-gutter();
                }

                @include breakpoint(mediumplus) {
                  padding-right: .9375rem;
                  padding-left: .9375rem;
                }

                @include breakpoint(large) {
                  padding-right: 3.6875rem;
                  padding-left: 3.6875rem;
                  margin-bottom: 0px;
                }

                .field-paragraph--field-text {
                  .field-items {
                    .field-item {
                      padding: 0;
                      p{
                        @include text();
                        @include breakpoint(large){
                          margin-bottom: 0px;
                        }
                      }
                        @include breakpoint(large) {
                          margin-bottom: 0px;
                        }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .paragraph--type--text-image {
      @include breakpoint(large) {
        justify-content: space-between;
      }

      figure {
        @include breakpoint(medium) {

          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        @include breakpoint(mediumplus) {
          @include grid-column-gutter(56px);
          padding-right: 2.1rem;
          padding-left: 1.8rem;
        }

        @include breakpoint(large) {
          flex: 1 50%;
          max-width: 50%;
          padding-left: 1.8rem !important;
          padding-right: 3.6rem !important;
        }

        overflow: hidden;

        img {
          @include img();
        }

        img:hover {
          @include imghover();
        }
      }

      .field-paragraph--field-text {
        .field-items {
          .field-item {
            h3 {
              @include text();
              text-transform: lowercase;
              font-size: 14Px;

            }

            p {
              text-transform: uppercase;
              font-size: 14px;
              font-weight: 500;

            }
          }
        }
      }
    }

    .option-image-right {
      &>div {
        @include breakpoint(mediumplus) {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }

    .option-image-left {
      &>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include breakpoint(large){
                  padding-left: 0px;
        }

        .field-paragraph--field-text {
          .field-items {
            .field-item {
              p{
                @include text();
                text-transform: none;
              }
              @include breakpoint(mediumplus) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 0px
              }
            }
          }

        }
      }

      figure {

        @include breakpoint(mediumplus) {
          @include grid-column-gutter(56px);
          padding-right: 1.8rem;
          padding-left: 2.1rem;
        }

        @include breakpoint(large) {
          flex: 1 50%;
          max-width: 50%;
          padding-left: 3.6rem !important;
          padding-right: 1.8rem !important;
        }
      }
    }

    .paragraph--type--images {
      .field-name-field-images-3 {
        .field-items {
          .field-item {
            padding-left: 0;
            padding-right: 0;
            picture {
              img {
                width: 100%;
              }
            }
            @include breakpoint(mediumplus) {
              @include grid-column-gutter(56px);
            }
            @include breakpoint(large){
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
}

.js-pager__items {
  @include grid-col-gutter();
  @include global-container();

  .pager__item {
    display: flex;
    flex-direction: row;
    justify-content: center;

    a.button {
      @include text();
      border: none;
      font-weight: 100;
      text-transform: lowercase;
    }
  }
}

a.button:hover {
  background-color: transparent;
  color: black;
  @include hover();
}

#block-base-local-tasks {
  z-index: 10;
}

.item-list {
    background-image: url("linework/lineteaser.svg");
    background-repeat: repeat-y;
    background-size:80%;
    background-position: 32% 0%;
    overflow: hidden;
    @include breakpoint(mediumplus){
          background-size: 71%;
          background-position: 65% 0%;
    }
        @include breakpoint(large) {
    background-size:80%;
    background-position: 32% 0%;
        }

  ul {

    li {
      position: relative;
    }
/*
    li:nth-child(1) {
      &::after {
        background-image: url("linework/Lijn1.svg");
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        top: 178px;
        z-index: -1;
        left: 50Px;

        @include breakpoint(mediumplus) {
          left: 125px;
        }

        @include breakpoint(large) {
          left: 175px;
          top: 333px;
        }

        @include breakpoint(xlarge) {
          left: 210px;
        }

        @include breakpoint(xxlarge) {
          left: 300px;
          top: 564px;
        }
      }
    }

    li:nth-child(2) {
      &::after {
        background-image: url("linework/Lijn2.svg");
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 110% !important;
        background-repeat: no-repeat;
        top: 187px;
        z-index: -1;
        left: 30%;

        @include breakpoint(mediumplus) {
          left: 60%;
        }

        @include breakpoint(large) {
          left: 60%;
          top: 333px;
        }

        @include breakpoint(xlarge) {
          left: 60%;
        }

        @include breakpoint(xxlarge) {
          left: 50%;
          top: 564px;
        }
      }
    }

    li:nth-child(4) {
      &::after {
        background-image: url("linework/Lijn4.svg");
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        top: 187px;
        z-index: -1;
        left: 16%;

        @include breakpoint(mediumplus) {
          top: 288Px;
          left: 30%;
        }

        @include breakpoint(large) {
          left: 16%;
          top: 333px;
        }

        @include breakpoint(xlarge) {
          left: 54%;
          top: 463Px;
        }

        @include breakpoint(xxlarge) {
          left: 50%;
          top: 575px;
        }
      }
    }

    li:nth-child(5) {
      &::after {
        background-image: url("linework/Lijn5.svg");
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        top: 136px;
        z-index: -1;
        left: 16%;

        @include breakpoint(mediumplus) {
          top: 229Px;
          left: 20%;
        }

        @include breakpoint(large) {
          left: 18%;
          top: 260px;
        }

        @include breakpoint(xlarge) {
          left: 20%;
          top: 352Px;
        }

        @include breakpoint(xxlarge) {
          left: 20%;
          top: 310px;
        }
      }
    }
    */
  }
}

.item-list--linkicon{
  background-image: none;
  overflow: visible;
}

.vacatureoverride .field-name-body{margin: 0!important;}.vacatureoverride h1{margin-bottom: 17px!important;}.vacatureoverride .titles{display: flex;flex-direction: column;justify-content: flex-end;}.vacatureoverride{margin-bottom:50px;}
