{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: Full node entity.
 *   - id: The node ID.
 *   - bundle: The type of the node, for example, "page" or "article".
 *   - authorid: The user ID of the node author.
 *   - createdtime: Time the node was published formatted in Unix timestamp.
 *   - changedtime: Time the node was changed formatted in Unix timestamp.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
<article {{ attributes.addClass(node.bundle, view_mode) }}>

  <header>

      <div class="titles">

          <div class="breadcrumb-wrapper">
              {{ drupal_breadcrumb() }}
          </div>

          <span class="workdetailline">
<svg id="Laag_1" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 418.3 2043.6">
    <defs>
        <style>
            .cls-1 {
                fill: #fff;
            }
            .cls-1,
            .cls-3 {
                fill-rule: evenodd;
            }
            .cls-2 {
                mask: url("#mask");
            }
            .cls-3 {
                fill: #231f20;
            }
        </style>
        <mask id="mask" x="0" y="0" width="418.31" height="2043.62" maskunits="userSpaceOnUse">
            <g transform="translate(0 1)">
                <g id="mask-2"><polygon id="path-1" class="cls-1" points="0 -1 418.3 -1 418.3 2042.6 0 2042.6 0 -1"/></g>
            </g>
        </mask>
    </defs>
    <title>Lijn</title>
    <g id="Work">
        <g id="Lijn">
            <g class="cls-2"><path id="Fill-1" class="cls-3" d="M.8-1A46.1,46.1,0,0,0,2.1,20.8l.3,1.3.5,1.3,1,2.5a19.2,19.2,0,0,0,1.2,2.5l1.2,2.5,1.4,2.4a17.6,17.6,0,0,0,1.4,2.3l1.6,2.3.8,1.1.8,1.1A73.6,73.6,0,0,0,28.4,55a79.9,79.9,0,0,0,19.7,9.6,130.7,130.7,0,0,0,21.4,5.1c7.3,1,14.6,1.6,21.9,2s14.7.4,22,.5l22.1.2,88.1,1,22,.2c7.4.1,14.7.4,22,.8a359.3,359.3,0,0,1,43.9,4.8,202.6,202.6,0,0,1,42.4,11.9c13.6,5.6,26.5,13.3,37.1,23.6A89.6,89.6,0,0,1,414.1,152a97.4,97.4,0,0,1,3,43.9,148.2,148.2,0,0,1-13.4,42,219,219,0,0,1-23.2,37.5c-4.5,5.8-9.3,11.5-14.2,16.9l-3.8,4.1-3.7,4c-2.5,2.7-5.1,5.3-7.7,8-10.2,10.5-20.7,20.7-30.9,31.3a396.8,396.8,0,0,0-29.1,33,195.3,195.3,0,0,0-23,37.2,152.4,152.4,0,0,0-12.5,41.9,177.4,177.4,0,0,0-1.2,43.7,189.3,189.3,0,0,0,9.3,42.7c.6,1.7,1.1,3.5,1.8,5.2l2,5.1c1.3,3.4,2.9,6.7,4.4,10,3.1,6.6,6.7,13,10.3,19.4,7.2,12.8,14.7,25.6,19.7,39.5a94.5,94.5,0,0,1,5.2,21.6,103.9,103.9,0,0,1,.4,11.2,67.4,67.4,0,0,1-1.3,11,77.5,77.5,0,0,1-2.7,10.8,101.2,101.2,0,0,1-4,10.4c-1.6,3.3-3.3,6.6-5.2,9.8s-3.9,6.3-6.1,9.3c-8.6,12-19,22.6-30.1,32.3a433,433,0,0,1-34.9,27q-18,12.8-36.1,25.2-36.4,24.9-73.6,48.5Q94.9,846.4,76,857.8L57.2,869.2a205.9,205.9,0,0,0-18.3,12,67.3,67.3,0,0,0-15.3,15.3,39.6,39.6,0,0,0-5.1,9.5,41.6,41.6,0,0,0-2.1,10.5c-.4,7.1,1.2,14.5,5.2,20.3a21.9,21.9,0,0,0,7.9,6.9,27.2,27.2,0,0,0,10.2,2.8c7.1.7,14.5-.3,22,.6a30.4,30.4,0,0,1,19.8,10c5,5.7,8.2,12.6,10.5,19.6a182.7,182.7,0,0,1,5.4,21.5c.8,3.6,1.5,7.2,2.3,10.8l1.3,5.3c.4,1.8.9,3.5,1.4,5.3a148.3,148.3,0,0,0,7.9,20.4,162.2,162.2,0,0,0,23.7,36.7,205.4,205.4,0,0,0,31.7,30.1,246.1,246.1,0,0,0,37,23.5c6.5,3.4,13.2,6.5,19.9,9.3s13.7,5.3,20.6,7.7l20.8,7.1,10.5,3.7c3.4,1.3,6.9,2.5,10.3,4s6.8,2.8,10.1,4.3l5,2.4,2.5,1.2,2.4,1.3a121.7,121.7,0,0,1,18.6,12.2c1.4,1.2,2.9,2.3,4.2,3.6l4,3.8a4.7,4.7,0,0,1,1,1l.9,1,1.9,2.1,1.8,2.1,1.8,2.2a85.1,85.1,0,0,1,11.1,19.2,107.2,107.2,0,0,1,7.8,43.3,126.3,126.3,0,0,1-2.1,22.1,161,161,0,0,1-5.4,21.5c-4.5,14-11.3,27.2-18.9,39.8a378.8,378.8,0,0,1-25.5,36.1c-9.1,11.5-18.5,22.8-27.7,34.2-4.7,5.7-9.2,11.5-13.7,17.3-2.1,2.9-4.4,5.8-6.5,8.8l-3.2,4.5-3.1,4.6-3,4.5-3,4.7-2.8,4.7-1.4,2.3-1.4,2.4-2.6,4.8-2.5,4.9-1.3,2.5-1.1,2.4-2.4,5-2.1,5.1-1,2.5-.9,2.6-1.9,5.2c-.6,1.7-1.1,3.5-1.6,5.2l-.8,2.6a26.8,26.8,0,0,1-.7,2.7l-1.3,5.3-1,5.4-.4,2.7-.4,2.7-.6,5.5-.3,5.4-.2,2.8v8.2a133.5,133.5,0,0,0,3.1,21.7c3.2,14.3,8.3,28.1,14,41.6s11.8,26.9,17.2,40.6,10,27.7,12.1,42.3a108.9,108.9,0,0,1,1.1,22.1,121.9,121.9,0,0,1-3.2,21.8c-3.5,14.4-9,28.1-14.6,41.7-11.6,26.9-21,54.9-26.3,83.8-10.8,57.7-7.8,118,9.5,174.2a366.2,366.2,0,0,1-10-174.3c5.3-28.9,14.5-57.1,26.2-84,5.5-13.6,11-27.3,14.3-41.6a111.3,111.3,0,0,0,2.1-43.5c-2.2-14.5-6.8-28.5-12.2-42.2s-11.5-26.9-17.2-40.5-11-27.4-14.2-41.8a133.1,133.1,0,0,1-3.1-21.8v-11.1l.3-5.5.7-5.5.3-2.8.5-2.7,1-5.4,1.3-5.4a26.8,26.8,0,0,1,.7-2.7l.8-2.7c.5-1.7,1-3.5,1.6-5.2l1.8-5.3c.3-.8.6-1.7,1-2.6l1-2.5,2.1-5.1,2.3-5,1.2-2.5,1.3-2.5,2.5-4.9,2.7-4.8,1.3-2.5,1.4-2.3,2.9-4.8,2.9-4.6c1-1.6,2-3.1,3.1-4.6l3.1-4.6,3.2-4.5c2.1-3,4.3-5.9,6.5-8.9,4.5-5.8,9-11.6,13.6-17.3,9.3-11.4,18.7-22.7,27.7-34.3a374,374,0,0,0,25.3-35.9c7.5-12.5,14.3-25.6,18.7-39.6a153.1,153.1,0,0,0,5.4-21.2,132.9,132.9,0,0,0,2-21.8,106,106,0,0,0-7.7-42.7,90.3,90.3,0,0,0-10.9-18.8l-1.7-2.1-1.8-2.1-1.8-2-.9-1-1-1-4-3.7c-1.3-1.3-2.8-2.4-4.1-3.5a111,111,0,0,0-18.3-12l-2.4-1.3-2.5-1.2-4.9-2.4c-3.4-1.5-6.7-3-10.1-4.3s-6.8-2.6-10.3-3.9l-10.3-3.7-20.9-7.1c-6.9-2.4-13.9-4.9-20.7-7.7s-13.5-6-20-9.4a241.7,241.7,0,0,1-37.3-23.6,209.4,209.4,0,0,1-32-30.4,167.5,167.5,0,0,1-24.1-37.1,152.2,152.2,0,0,1-7.9-20.7c-.5-1.8-1.1-3.5-1.5-5.3l-1.3-5.4c-.8-3.6-1.5-7.2-2.2-10.8a188,188,0,0,0-5.4-21.2c-2.3-6.9-5.4-13.6-10.2-19A28.6,28.6,0,0,0,61.5,949c-7.2-.9-14.6.2-22-.5a32.8,32.8,0,0,1-11-3,23.9,23.9,0,0,1-8.5-7.6c-4.4-6.3-5.9-14.1-5.5-21.5a38.4,38.4,0,0,1,2.2-11.1,40.7,40.7,0,0,1,5.2-9.9,71.8,71.8,0,0,1,15.8-15.8c5.9-4.4,12.2-8.3,18.5-12.1L75,856.1c12.5-7.6,25-15.4,37.4-23.2q37.2-23.5,73.6-48.5,18.1-12.3,36.1-25.1a413.4,413.4,0,0,0,34.8-26.9c11-9.7,21.3-20.1,29.8-32,2.2-3,4.1-6,6-9.1s3.6-6.4,5.1-9.7a96.3,96.3,0,0,0,4-10.1,78.4,78.4,0,0,0,2.7-10.6,79.3,79.3,0,0,0,1.2-10.8,99.3,99.3,0,0,0-.4-10.9,90.3,90.3,0,0,0-5.1-21.1c-4.9-13.8-12.4-26.5-19.5-39.3-3.6-6.4-7.2-12.8-10.3-19.5-1.6-3.4-3.2-6.7-4.5-10.1l-2.1-5.2-1.8-5.2a193.6,193.6,0,0,1-9.3-43.2,180.8,180.8,0,0,1,1.2-44.1,156.5,156.5,0,0,1,12.7-42.3,195.4,195.4,0,0,1,23.2-37.5,400.5,400.5,0,0,1,29.3-33.1c10.2-10.5,20.7-20.8,31-31.3,2.5-2.6,5.1-5.2,7.6-7.9l3.8-4,3.7-4.1a189.9,189.9,0,0,0,14.1-16.8,204.8,204.8,0,0,0,23.2-37.2,144.7,144.7,0,0,0,13.4-41.6,96.1,96.1,0,0,0-2.9-43.3,88.2,88.2,0,0,0-22.8-36.9c-10.4-10.2-23.2-17.8-36.7-23.4a205.5,205.5,0,0,0-42.2-12,400.1,400.1,0,0,0-43.7-4.9c-7.3-.4-14.7-.7-22-.8l-22-.3-88.2-1.2-22-.3c-7.3-.1-14.7-.2-22-.6a200.2,200.2,0,0,1-21.9-2A132.1,132.1,0,0,1,48,64.8a79.9,79.9,0,0,1-19.7-9.6,71.8,71.8,0,0,1-16-15.1l-.9-1-.8-1.2L9,35.7,7.6,33.3,6.2,31,5,28.5,3.8,26l-.9-2.6-.5-1.3L2,20.8A46.1,46.1,0,0,1,.8-1" transform="translate(0 1)"/></g>
        </g>
    </g>
</svg>
          </span>
      </div>
      <div class="main-content">
      <div class="intro_text">
{% if content.field_page_title[0] %}
    <h1>{{ content.field_page_title[0] }}</h1>
{% else %}
    <h1>{{ node.label }}.</h1>
{% endif %}
          {% if content.field_sub_title[0] %}
              <h2>{{ content.field_sub_title[0] }}</h2>
             
          {% endif %}
          </div>
{{ content.body }}
      </div>
  </header>

  {% if content.field_image[0] %}
      <figure class="main-image">
          {{ content.field_image[0] }}
      </figure>
  {% endif %}

  {# We hide the comments and links now so that we can render them later. #}
  <div{{ content_attributes }}>
    {{ content|without('comment', 'links', 'field_tags', 'field_page_title', 'field_sub_title', 'body', 'field_image') }}
  </div>

  {% if content.field_tags|length and not is_front %}
    {{ content.field_tags }}
  {% endif %}

  {{ content.links }}
  {{ content.comment }}
</article>
