{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: Full node entity.
 *   - id: The node ID.
 *   - bundle: The type of the node, for example, "page" or "article".
 *   - authorid: The user ID of the node author.
 *   - createdtime: Time the node was published formatted in Unix timestamp.
 *   - changedtime: Time the node was changed formatted in Unix timestamp.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
<article {{ attributes.addClass(node.bundle, view_mode) }}>
    {%
        set header_classes = [
        content.field_image[0] ? 'has-header-image'
    ]
    %}
  <header>
      {{ content.body }}
      <div class="titles">
          {% if content.field_page_title[0] %}
            <h1>{{ content.field_page_title[0] }}</h1>
          {% else %}
            <h1>{{ node.label }}.</h1>
          {% endif %}
          {% if content.field_sub_title[0] %}
            <h2>{{ content.field_sub_title[0] }}</h2>
          {% endif %}
<span class="line_contact">
<svg id="Laag_1" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 435 663">
    <defs>
        <style>
            .cls-1 {
                fill: #fff;
            }
            .cls-1,
            .cls-3 {
                fill-rule: evenodd;
            }
            .cls-2 {
                mask: url("#mask");
            }
            .cls-3 {
                fill: #231f20;
            }
        </style>
        <mask id="mask" x="0" y="0" width="435" height="663" maskunits="userSpaceOnUse">
            <g transform="translate(0 43)">
                <g id="mask-2"><polygon id="path-1" class="cls-1" points="0 -43 435 -43 435 620 0 620 0 -43"/></g>
            </g>
        </mask>
    </defs>
    <title>Group 3</title>
    <g id="Contact">
        <g id="Group-3">
            <g class="cls-2"><path id="Fill-1" class="cls-3" d="M62.1-41.7l-1.1,2-.5,1c-.2.3-.3.7-.5,1l-.8,2.2-.6,2.2-.3,1.1-.2,1.1-.4,2.3v4.6l.2,2.3.3,2.3.2,1.2a4.3,4.3,0,0,0,.2,1.1l.6,2.3a45.3,45.3,0,0,0,3.4,8.6,49.5,49.5,0,0,0,4.9,7.9l1.5,1.8.8.9.8.9,1.6,1.6,1.7,1.6A68.5,68.5,0,0,0,89.6,18.4c11.4,5.4,23.9,8.3,36.3,11l37.4,7.8L313.1,68.6c12.5,2.6,25,5.2,37.3,8.7a176.7,176.7,0,0,1,35.8,13.8,105.6,105.6,0,0,1,16.2,10.3,97.9,97.9,0,0,1,13.9,13.4A82,82,0,0,1,427,130.7a72.7,72.7,0,0,1,6.6,18.1,57.1,57.1,0,0,1-4.4,37.7,66.6,66.6,0,0,1-11.1,15.7,83.1,83.1,0,0,1-14.6,12.5,98.2,98.2,0,0,1-16.9,9.1,149.2,149.2,0,0,1-18.1,6.3c-12.4,3.5-25,5.6-37.5,7.8q-75.5,13-149.3,33.2c-12.3,3.3-24.6,6.8-36.8,10.4l-18.3,5.6c-6.1,1.9-12.1,3.9-18,6.3a117.9,117.9,0,0,0-17.1,8.4,70.5,70.5,0,0,0-14.8,11.8A43.8,43.8,0,0,0,67,329.8a47.8,47.8,0,0,0-1.8,9.3,73.7,73.7,0,0,0,.1,9.4,106.2,106.2,0,0,0,4,18.6c1.8,6.1,3.9,12.2,5.8,18.2a120.3,120.3,0,0,1,4.6,18.6,50,50,0,0,1,.6,9.5,34.4,34.4,0,0,1-1.6,9.5,33.4,33.4,0,0,1-10.9,15.5c-5,4.1-10.7,7-16.3,10.1a83.7,83.7,0,0,0-15.9,10.4,81.5,81.5,0,0,0-13.1,13.8,92.9,92.9,0,0,0-10,16.2,123.7,123.7,0,0,0-6.9,17.8,131,131,0,0,0-4,18.6A152,152,0,0,0,.2,544.4a230.6,230.6,0,0,0,2.7,38C4.7,595,7.2,607.5,9.6,620c-2.4-12.5-5-25-6.8-37.6a242.1,242.1,0,0,1-2.8-38,152,152,0,0,1,1.4-19.1,135.5,135.5,0,0,1,4-18.7,116.9,116.9,0,0,1,6.9-17.8,97.1,97.1,0,0,1,9.9-16.3,86.9,86.9,0,0,1,13.2-13.9,89.3,89.3,0,0,1,15.9-10.5c5.6-3,11.3-6,16.2-10a32,32,0,0,0,10.7-15.4,29.3,29.3,0,0,0,1.6-9.3,49.4,49.4,0,0,0-.5-9.4,128.5,128.5,0,0,0-4.7-18.5c-1.9-6.1-4-12.1-5.8-18.2a91.6,91.6,0,0,1-4-18.7,61.6,61.6,0,0,1-.2-9.6,48.8,48.8,0,0,1,1.8-9.4,44.3,44.3,0,0,1,9.8-16.4,66,66,0,0,1,14.9-12,124.9,124.9,0,0,1,17.2-8.5c5.9-2.4,12-4.4,18.1-6.3l18.3-5.6c12.2-3.7,24.4-7.2,36.7-10.6q73.8-20.2,149.4-33.4c12.5-2.2,25.1-4.4,37.3-7.9a142.1,142.1,0,0,0,18-6.3,102.2,102.2,0,0,0,16.6-9,81.3,81.3,0,0,0,14.4-12.3,64.3,64.3,0,0,0,10.8-15.5,55.9,55.9,0,0,0,4.3-36.7,75.3,75.3,0,0,0-6.5-17.7,84,84,0,0,0-10.6-15.6,89.3,89.3,0,0,0-13.7-13.1,105.9,105.9,0,0,0-16-10.2,177.1,177.1,0,0,0-35.5-13.6c-12.2-3.4-24.7-6-37.2-8.5L162.9,39.3l-37.5-7.8c-12.4-2.7-25-5.6-36.7-11.1A67,67,0,0,1,72.3,10L70.5,8.4,68.8,6.6,68,5.7l-.8-.9L65.6,2.9a63.1,63.1,0,0,1-5.2-8.2,59.4,59.4,0,0,1-3.6-9.1l-.5-2.4L56-18l-.2-1.2-.4-2.4V-29l.4-2.5.2-1.2.3-1.2.6-2.4.9-2.3a11.7,11.7,0,0,1,.5-1.1l.6-1.1L60.1-43Z" transform="translate(0 43)"/></g>
        </g>
    </g>
</svg>
</span>
      </div>
  </header>
    {% if content.field_image[0] %}
        <figure class="header-image">
            {{ content.field_image[0] }}
        </figure>
    {% endif %}

  {# We hide the comments and links now so that we can render them later. #}
  <div{{ content_attributes }}>
    {{ content|without('comment', 'links', 'field_tags', 'field_page_title', 'field_sub_title', 'body', 'field_image') }}
  </div>

  {% if content.field_tags|length and not is_front %}
    {{ content.field_tags }}
  {% endif %}

  {{ content.links }}
  {{ content.comment }}
</article>
