{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: Full node entity.
 *   - id: The node ID.
 *   - bundle: The type of the node, for example, "page" or "article".
 *   - authorid: The user ID of the node author.
 *   - createdtime: Time the node was published formatted in Unix timestamp.
 *   - changedtime: Time the node was changed formatted in Unix timestamp.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
<article {{ attributes.addClass(node.bundle, view_mode) }}>
    {%
        set header_classes = [
        content.field_image[0] ? 'has-header-image'
    ]
    %}
  <header>
      {{ content.body }}
      <div class="titles">
          {% if content.field_page_title[0] %}
            <h1>{{ content.field_page_title[0] }}</h1>
          {% else %}
            <h1>{{ node.label }}.</h1>
          {% endif %}
          {% if content.field_sub_title[0] %}
            <h2>{{ content.field_sub_title[0] }}</h2>
          {% endif %}
<span class="line_work">
<svg id="Laag_1" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 419.5 2043.8">
    <defs>
        <style>
            .cls-1 {
                fill: #fff;
            }
            .cls-1,
            .cls-3 {
                fill-rule: evenodd;
            }
            .cls-2 {
                mask: url("#mask");
            }
            .cls-3 {
                fill: #231f20;
            }
        </style>
        <mask id="mask" x="0" y="0" width="419.5" height="2043.81" maskunits="userSpaceOnUse">
            <g transform="translate(3 25)">
                <g id="mask-2"><polygon id="path-1" class="cls-1" points="-3 -25 416.5 -25 416.5 2018.8 -3 2018.8 -3 -25"/></g>
            </g>
        </mask>
    </defs>
    <title>Lijn</title>
    <g id="Work">
        <g id="Lijn">
            <g class="cls-2"><path id="Fill-1" class="cls-3" d="M-.3-24.6A45.3,45.3,0,0,0,1-3.3L1.3-2,1.8-.8l1,2.6A25.6,25.6,0,0,0,3.9,4.2L5.1,6.7,6.5,9a10.9,10.9,0,0,0,1.4,2.3l1.5,2.2a10.5,10.5,0,0,0,.8,1.1l.9,1.1A69.5,69.5,0,0,0,26.9,30.5,80.1,80.1,0,0,0,46.4,40a128.4,128.4,0,0,0,21.2,5.1c7.2,1,14.5,1.6,21.8,2s14.7.5,22,.5l22.1.3L221.6,49l22,.3c7.4.1,14.7.4,22,.8A359.5,359.5,0,0,1,309.5,55c14.5,2.6,28.9,6.3,42.5,12s26.6,13.4,37.2,23.7a90.3,90.3,0,0,1,23.1,37.5c4.5,14.1,5.2,29.3,3,43.9s-7.1,28.8-13.5,42.1a209,209,0,0,1-23.3,37.4c-4.5,5.9-9.2,11.5-14.2,16.9l-3.7,4.1-3.8,4c-2.5,2.7-5.1,5.3-7.7,8-10.2,10.5-20.8,20.7-31,31.3A395.4,395.4,0,0,0,289,348.8a196,196,0,0,0-23,37.3,152.9,152.9,0,0,0-12.6,41.8,178.4,178.4,0,0,0-1.2,43.8,190.2,190.2,0,0,0,9.3,42.8c.6,1.7,1.1,3.5,1.8,5.2l2,5.1c1.3,3.4,2.9,6.7,4.4,10,3.1,6.6,6.7,13.1,10.3,19.5,7.1,12.8,14.6,25.5,19.7,39.4a94.3,94.3,0,0,1,5.1,21.6,80.3,80.3,0,0,1,.4,11,70,70,0,0,1-1.3,11.1,98.1,98.1,0,0,1-2.6,10.7,101.8,101.8,0,0,1-9.3,20.1q-2.8,4.8-6,9.3c-8.7,12-19.1,22.5-30.1,32.2a411.3,411.3,0,0,1-34.9,27c-12,8.5-24,16.9-36.2,25.2q-36.3,24.9-73.6,48.5c-12.4,7.8-24.9,15.6-37.4,23.2L54.9,845c-6.3,3.8-12.5,7.6-18.4,12a72.5,72.5,0,0,0-15.4,15.4A44.2,44.2,0,0,0,16,882a38.3,38.3,0,0,0-2.1,10.7c-.4,7.2,1.2,14.7,5.3,20.6a23.7,23.7,0,0,0,8,7.1,28.7,28.7,0,0,0,10.4,2.8c7.2.7,14.6-.3,22,.6a30.2,30.2,0,0,1,19.5,9.9c5,5.5,8.1,12.4,10.4,19.4a197.1,197.1,0,0,1,5.4,21.4c.8,3.6,1.5,7.2,2.3,10.8l1.2,5.3,1.5,5.3a149.6,149.6,0,0,0,7.9,20.5,164.4,164.4,0,0,0,23.8,36.8,202,202,0,0,0,31.8,30.2,247.6,247.6,0,0,0,37.1,23.6c6.5,3.4,13.1,6.5,19.9,9.3s13.7,5.3,20.6,7.7l20.9,7.1,10.4,3.7c3.4,1.3,6.8,2.5,10.2,4s6.8,2.8,10.2,4.3c1.7.7,3.3,1.6,5,2.4l2.4,1.2,2.5,1.3a124.2,124.2,0,0,1,18.4,12.1c1.4,1.2,2.9,2.3,4.2,3.6l4,3.8a4.7,4.7,0,0,1,1,1l.9,1,1.9,2.1,1.8,2,1.7,2.2a86.6,86.6,0,0,1,11.1,19.1,109.4,109.4,0,0,1,7.8,43.1,147.6,147.6,0,0,1-2.1,22,159.6,159.6,0,0,1-5.4,21.4c-4.5,14-11.3,27.2-18.9,39.7a381.7,381.7,0,0,1-25.4,36c-9.1,11.6-18.5,22.9-27.7,34.3-4.7,5.7-9.2,11.5-13.7,17.3-2.2,2.9-4.4,5.8-6.5,8.8l-3.2,4.5-3.1,4.6-3,4.6-3,4.6-2.8,4.7-1.4,2.4-1.4,2.4-2.7,4.8-2.5,4.9-1.2,2.4-1.2,2.5-2.3,5-2.1,5.1-1,2.6a26,26,0,0,0-1,2.5l-1.8,5.2c-.6,1.8-1.1,3.5-1.6,5.3l-.8,2.6a26.8,26.8,0,0,0-.7,2.7l-1.3,5.3-1,5.4-.5,2.7-.3,2.8-.7,5.4-.3,5.5v11a134.7,134.7,0,0,0,3.1,21.8c3.2,14.3,8.4,28.1,14.1,41.6s11.9,26.9,17.2,40.6,10,27.7,12.1,42.3a115.6,115.6,0,0,1,1.2,22,124.9,124.9,0,0,1-3.3,21.8c-3.4,14.3-8.9,28-14.4,41.5-11.7,27-21,55-26.3,84a365.9,365.9,0,0,0,9.7,174.2,365,365,0,0,1-9.8-174.3c5.2-28.9,14.6-57,26.2-83.9,5.6-13.6,11-27.3,14.4-41.6a113.7,113.7,0,0,0,3.2-21.7,107.9,107.9,0,0,0-1.1-22c-2.1-14.5-6.8-28.6-12.1-42.2s-11.6-27-17.3-40.5-10.9-27.4-14.1-41.7a134.3,134.3,0,0,1-3.1-21.9v-8.2l.2-2.8.3-5.5.6-5.5.3-2.7.5-2.7,1-5.5,1.3-5.3a26.8,26.8,0,0,1,.7-2.7l.8-2.6c.5-1.8,1-3.6,1.6-5.3l1.8-5.2c.4-.9.6-1.7,1-2.6l1-2.5,2.1-5.1,2.3-5,1.2-2.5,1.3-2.5,2.5-4.9,2.7-4.8,1.3-2.4,1.4-2.4,2.8-4.7,3-4.7,3-4.6,3.1-4.5,3.2-4.5c2.1-3,4.4-5.9,6.6-8.9,4.4-5.8,9-11.6,13.6-17.3,9.2-11.4,18.6-22.7,27.7-34.3a374,374,0,0,0,25.3-35.9c7.6-12.6,14.4-25.7,18.9-39.7a174.4,174.4,0,0,0,5.3-21.3,145,145,0,0,0,2.1-21.9,108.5,108.5,0,0,0-7.8-42.9,87.2,87.2,0,0,0-11-18.9l-1.7-2.2-1.8-2-1.8-2.1-1-1-.9-1-4-3.8c-1.3-1.2-2.8-2.3-4.2-3.5a118.7,118.7,0,0,0-18.4-12l-2.4-1.3-2.4-1.2-5-2.4c-3.4-1.5-6.7-3-10.1-4.3s-6.9-2.6-10.3-3.9l-10.4-3.7-20.8-7.1c-7-2.4-13.9-4.9-20.7-7.7s-13.4-6-20-9.3a262.4,262.4,0,0,1-37.2-23.6,213.4,213.4,0,0,1-31.9-30.4,165.9,165.9,0,0,1-24-36.9,156,156,0,0,1-7.9-20.6c-.5-1.8-1.1-3.6-1.5-5.4l-1.3-5.3c-.8-3.6-1.5-7.2-2.2-10.8a189.7,189.7,0,0,0-5.4-21.3c-2.4-6.9-5.4-13.7-10.3-19.1a28.9,28.9,0,0,0-18.9-9.6c-7.2-.9-14.6.1-22-.5a30.5,30.5,0,0,1-10.7-3,23,23,0,0,1-8.4-7.4c-4.3-6.1-5.8-13.8-5.5-21.2a44.9,44.9,0,0,1,2.2-10.9,43.8,43.8,0,0,1,5.2-9.8,72.6,72.6,0,0,1,15.6-15.7,201.5,201.5,0,0,1,18.5-12l18.8-11.5c12.6-7.6,25-15.4,37.4-23.2q37.2-23.7,73.6-48.5,18.2-12.4,36.1-25.2a414.5,414.5,0,0,0,34.8-27c11-9.6,21.3-20.1,29.9-32,2.1-3,4.1-6.1,6-9.2s3.6-6.4,5.1-9.7,2.8-6.7,4-10.2a91.1,91.1,0,0,0,2.6-10.6,77.6,77.6,0,0,0,1.2-10.8,66.3,66.3,0,0,0-.4-10.9,85.1,85.1,0,0,0-5-21.2c-5-13.8-12.5-26.5-19.7-39.3-3.5-6.4-7.1-12.8-10.3-19.5-1.5-3.4-3.1-6.7-4.4-10.1l-2.1-5.2-1.8-5.2a186.4,186.4,0,0,1-9.4-43.1,180.8,180.8,0,0,1,1.2-44.1,155.8,155.8,0,0,1,12.7-42.2,199.3,199.3,0,0,1,23.2-37.6,397.2,397.2,0,0,1,29.2-33.1c10.2-10.5,20.7-20.8,30.9-31.3,2.6-2.6,5.2-5.2,7.7-7.9l3.7-4,3.7-4.1c5-5.4,9.7-11,14.2-16.8a219.8,219.8,0,0,0,23.1-37.2,149.7,149.7,0,0,0,13.3-41.6,95.7,95.7,0,0,0-3-43.2A88.7,88.7,0,0,0,388,91.9c-10.4-10.1-23.2-17.7-36.6-23.3a205.2,205.2,0,0,0-42.2-11.9,374.3,374.3,0,0,0-43.7-4.8c-7.3-.4-14.6-.7-21.9-.8l-22.1-.3-88.1-1-22-.3c-7.3,0-14.7-.1-22.1-.5a204.3,204.3,0,0,1-22-2,122.5,122.5,0,0,1-21.5-5.2,78.7,78.7,0,0,1-20-9.7A71.4,71.4,0,0,1,9.5,16.9l-.9-1.1-.8-1.1L6.2,12.4c-.5-.8-1-1.6-1.4-2.4L3.4,7.6c-.5-.8-.9-1.7-1.3-2.5S1.3,3.4,1,2.5L0-.1-.5-1.4-.9-2.7A46.8,46.8,0,0,1-2.2-25Z" transform="translate(3 25)"/></g>
        </g>
    </g>
</svg>
</span>
      </div>
  </header>
    {% if content.field_image[0] %}
        <figure class="header-image">
            {{ content.field_image[0] }}
        </figure>
    {% endif %}

  {# We hide the comments and links now so that we can render them later. #}
  <div{{ content_attributes }}>
    {{ content|without('comment', 'links', 'field_tags', 'field_page_title', 'field_sub_title', 'body', 'field_image') }}
  </div>

  {% if content.field_tags|length and not is_front %}
    {{ content.field_tags }}
  {% endif %}

  {{ content.links }}
  {{ content.comment }}
</article>
