{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: Full node entity.
 *   - id: The node ID.
 *   - bundle: The type of the node, for example, "page" or "article".
 *   - authorid: The user ID of the node author.
 *   - createdtime: Time the node was published formatted in Unix timestamp.
 *   - changedtime: Time the node was changed formatted in Unix timestamp.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
<article {{ attributes.addClass(node.bundle, view_mode) }}>
    {%
        set header_classes = [
        content.field_image[0] ? 'has-header-image'
    ]
    %}
  <header>
      {{ content.body }}
      <div class="titles">
          {% if content.field_page_title[0] %}
            <h1>{{ content.field_page_title[0] }}</h1>
          {% else %}
            <h1>{{ node.label }}.</h1>
          {% endif %}
          {% if content.field_sub_title[0] %}
            <h2>{{ content.field_sub_title[0] }}</h2>
          {% endif %}
<span class="line_aanpak">
<svg id="Laag_1" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 637 634">
    <defs>
        <style>
            .cls-1 {
                fill: #fff;
            }
            .cls-1,
            .cls-3 {
                fill-rule: evenodd;
            }
            .cls-2 {
                mask: url("#mask");
            }
            .cls-3 {
                fill: #231f20;
            }
        </style>
        <mask id="mask" x="0" y="0" width="637" height="634" maskunits="userSpaceOnUse">
            <g transform="translate(-0.5 11)">
                <g id="mask-2"><polygon id="path-1" class="cls-1" points="0.5 -11 637.5 -11 637.5 623 0.5 623 0.5 -11"/></g>
            </g>
        </mask>
    </defs>
    <title>Group 3</title>
    <g id="Aanpak">
        <g id="Group-3">
            <g class="cls-2"><path id="Fill-1" class="cls-3" d="M637.2-11c.4,22.7.7,45.4-1.5,68.1A224.6,224.6,0,0,1,630,90.7a160.5,160.5,0,0,1-11.5,32.2l-4.1,7.5c-1.4,2.5-2.9,4.9-4.5,7.3a124.8,124.8,0,0,1-10.2,13.7c-3.7,4.4-7.6,8.5-11.7,12.5s-8.5,7.6-13,11.1c-18,14-38.4,24.6-59.4,33.2-10.6,4.2-21.3,7.9-32.2,11.3-5.4,1.6-10.9,3.2-16.4,4.6l-16.5,4.3c-22,5.4-44.3,9.7-66.7,13.7-44.7,7.7-89.7,13.4-134.5,21s-89.2,17-132,32.1c-21.3,7.7-42,17.4-60.6,30.3A159.5,159.5,0,0,0,31,347.6a118.1,118.1,0,0,0-19.4,27.7,104.6,104.6,0,0,0-9.7,32.4,116.1,116.1,0,0,0,.6,33.8,161.8,161.8,0,0,0,9,32.7,221,221,0,0,0,15,30.5,262.3,262.3,0,0,0,19.1,28.1c6.9,8.9,14.1,17.7,20.6,27s12.5,19.1,16.3,29.8a62,62,0,0,1,3.4,16.6,48.3,48.3,0,0,1-.2,8.5,57.9,57.9,0,0,1-1.6,8.3,57.9,57.9,0,0,0,1.6-8.3,48.5,48.5,0,0,0,.2-8.5,62.2,62.2,0,0,0-3.5-16.6c-3.8-10.7-9.8-20.5-16.3-29.7s-13.7-18.1-20.7-27a267.1,267.1,0,0,1-19.1-28.1,221.6,221.6,0,0,1-15.1-30.5,161.1,161.1,0,0,1-9.1-32.8,120.3,120.3,0,0,1-.7-33.9,102.7,102.7,0,0,1,9.8-32.5,116.8,116.8,0,0,1,19.3-27.9A155.9,155.9,0,0,1,56.3,325C75,312,95.7,302.2,117,294.5c42.9-15.2,87.4-24.8,132.2-32.5s89.7-13.4,134.4-21.2c22.3-4,44.6-8.4,66.6-13.8l16.4-4.3c5.5-1.5,11-3,16.4-4.7,10.8-3.3,21.5-7,32-11.3,20.9-8.5,41.2-19.1,59-33.1a165.3,165.3,0,0,0,12.8-11,168.6,168.6,0,0,0,11.6-12.3,132,132,0,0,0,10-13.6c1.6-2.3,3-4.8,4.5-7.2l3.9-7.5a162,162,0,0,0,11.4-31.7,237.3,237.3,0,0,0,5.5-33.4c2.2-22.5,1.9-45.2,1.4-67.9Z" transform="translate(-0.5 11)"/></g>
        </g>
    </g>
</svg>
</span>
      </div>
  </header>
    {% if content.field_image[0] %}
        <figure class="header-image">
            {{ content.field_image[0] }}
        </figure>
    {% endif %}

  {# We hide the comments and links now so that we can render them later. #}
  <div{{ content_attributes }}>
    {{ content|without('comment', 'links', 'field_tags', 'field_page_title', 'field_sub_title', 'body', 'field_image') }}
  </div>

  {% if content.field_tags|length and not is_front %}
    {{ content.field_tags }}
  {% endif %}

  {{ content.links }}
  {{ content.comment }}
</article>
