{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: Full node entity.
 *   - id: The node ID.
 *   - bundle: The type of the node, for example, "page" or "article".
 *   - authorid: The user ID of the node author.
 *   - createdtime: Time the node was published formatted in Unix timestamp.
 *   - changedtime: Time the node was changed formatted in Unix timestamp.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
<article {{ attributes.addClass(node.bundle, view_mode) }}>
    {%
        set header_classes = [
        content.field_image[0] ? 'has-header-image'
    ]
    %}
  <header>
      {{ content.body }}
      <div class="titles">
          {% if content.field_page_title[0] %}
            <h1>{{ content.field_page_title[0] }}</h1>
          {% else %}
            <h1>{{ node.label }}.</h1>
          {% endif %}
          {% if content.field_sub_title[0] %}
            <h2>{{ content.field_sub_title[0] }}</h2>
          {% endif %}
<span class="line_partners">
<svg id="Laag_1" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 323.6 631.4">
    <defs>
        <style>
            .cls-1 {
                fill: #fff;
            }
            .cls-1,
            .cls-3 {
                fill-rule: evenodd;
            }
            .cls-2 {
                mask: url("#mask");
            }
            .cls-3 {
                fill: #231f20;
            }
        </style>
        <mask id="mask" x="0" y="0" width="323.56" height="631.43" maskunits="userSpaceOnUse">
            <g transform="translate(0 10)">
                <g id="mask-2"><polygon id="path-1" class="cls-1" points="0 -10 323.6 -10 323.6 621.4 0 621.4 0 -10"/></g>
            </g>
        </mask>
    </defs>
    <title>Lijn</title>
    <g id="Partners">
        <g id="Lijn">
            <g class="cls-2"><path id="Fill-1" class="cls-3" d="M322.4-10a127.8,127.8,0,0,1-4,52.9,146.1,146.1,0,0,1-23.7,47.5,145.5,145.5,0,0,1-39.1,35.9,139.8,139.8,0,0,1-24,11.6,135,135,0,0,1-25.8,6.3c-17.6,2.6-35.4,2.6-53,3.5a487.3,487.3,0,0,0-52.5,5.9c-8.7,1.5-17.4,3.2-25.3,7a38.6,38.6,0,0,0-5.6,3.2,29,29,0,0,0-4.9,4.3A32,32,0,0,0,57.6,179a42.7,42.7,0,0,0-2.4,12.8,81.6,81.6,0,0,0,.4,13.1c1,8.8,2.7,17.5,3.8,26.3s1.8,17.7.1,26.5a42.9,42.9,0,0,1-4.4,12.6,56.3,56.3,0,0,1-7.7,10.9c-6,6.6-13,12.1-19.5,18a103.1,103.1,0,0,0-9.4,9.3c-1.4,1.6-2.7,3.4-4,5.2s-1.2,1.8-1.9,2.7-1.2,1.8-1.7,2.8A53.9,53.9,0,0,0,8,325.1c-.5,1-1,2-1.4,3l-1.1,3.1a8.8,8.8,0,0,0-.5,1.5l-.5,1.6-.9,3.2-.7,3.2-.4,1.6-.3,1.6a106.1,106.1,0,0,0-1.1,26.4A128.6,128.6,0,0,0,6,396.2,223.4,223.4,0,0,0,15.1,421c7,16.2,15.3,31.8,22.6,47.9l2.7,6.1,2.7,6.1c1.7,4,3.3,8.1,5,12.2,3.2,8.3,6.3,16.5,9.1,24.9A522.8,522.8,0,0,1,80.6,621.4,513.9,513.9,0,0,0,56.9,518.3c-2.8-8.4-5.9-16.6-9.1-24.9-1.7-4-3.3-8.1-5.1-12.2l-2.6-6.1-2.8-6c-7.3-16-15.7-31.6-22.7-47.9a218.4,218.4,0,0,1-9.2-24.9c-.6-2.1-1.2-4.2-1.7-6.4l-1.5-6.4c-.3-2.2-.8-4.4-1-6.6l-.5-3.3-.3-3.3a102.5,102.5,0,0,1,1.1-26.5,8.8,8.8,0,0,1,.2-1.6l.4-1.7.7-3.2.9-3.2.5-1.6.6-1.6,1.1-3.1c.4-1,.9-2,1.3-3.1s2-3.9,3-5.9,1.2-1.9,1.7-2.9a26.1,26.1,0,0,1,1.9-2.7c1.3-1.8,2.6-3.6,4.1-5.3a119.1,119.1,0,0,1,9.4-9.4c6.5-5.9,13.4-11.5,19.3-18a49.6,49.6,0,0,0,7.6-10.7,40.9,40.9,0,0,0,4.3-12.3c1.6-8.6.9-17.5-.2-26.2s-2.9-17.4-3.8-26.2a85.3,85.3,0,0,1-.6-13.4,45.5,45.5,0,0,1,2.6-13.1,32.9,32.9,0,0,1,7-11.4,35,35,0,0,1,5.1-4.4,38.1,38.1,0,0,1,5.8-3.4c8.1-4,17-5.6,25.6-7.1a446.9,446.9,0,0,1,52.8-6.1c17.6-1,35.3-1.1,52.7-3.7a130.2,130.2,0,0,0,25.5-6.3,125.7,125.7,0,0,0,23.6-11.5,138.7,138.7,0,0,0,38.5-35.5,144.1,144.1,0,0,0,23.3-46.9,125.1,125.1,0,0,0,3.8-52Z" transform="translate(0 10)"/></g>
        </g>
    </g>
</svg>
</span>
      </div>
  </header>
    {% if content.field_image[0] %}
        <figure class="header-image">
            {{ content.field_image[0] }}
        </figure>
    {% endif %}

  {# We hide the comments and links now so that we can render them later. #}
  <div{{ content_attributes }}>
    {{ content|without('comment', 'links', 'field_tags', 'field_page_title', 'field_sub_title', 'body', 'field_image') }}
  </div>

  {% if content.field_tags|length and not is_front %}
    {{ content.field_tags }}
  {% endif %}

  {{ content.links }}
  {{ content.comment }}
</article>
